#### always add the following cell to the start of a notebook when using spark

In [33]:
# lets start the spark session
# the entry point for an spark app is the SparkSession
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[2]").appName("FirstApp").getOrCreate()

In [34]:
# if you don't get an output here it means that jupyter isn't connected to pyspark
spark

#### use this to debug any errors related to wrong path/file not found

In [35]:
import os
os.getcwd()
# os.path.abspath(os.getcwd())

'/home/ldobre/das_2021/lesson3'

# Dataframes

we can create a dataframe from a list that we parallelize

In [36]:
data = [
    ('1', 'JS', 179),
    ('2', 'CL', 175),
    ('3', 'AS', 140),
    ('4', 'LF', 170)
]
df = spark.createDataFrame(
        data, 
        ['Id', 'Name', 'Height']  # column list
    )

In [37]:
df.printSchema()

root
 |-- Id: string (nullable = true)
 |-- Name: string (nullable = true)
 |-- Height: long (nullable = true)

In [38]:
df.show(10)  # default 20 rows

+---+----+------+
| Id|Name|Height|
+---+----+------+
|  1|  JS|   179|
|  2|  CL|   175|
|  3|  AS|   140|
|  4|  LF|   170|
+---+----+------+

In [44]:
# we can retrieve a subset of the df using head
df.head(2)

[Row(Id='1', Name='JS', Height=179), Row(Id='2', Name='CL', Height=175)]

In [41]:
type(df.head(2))

list

In [45]:
df.head(2)[0][2]

179

In [46]:
# we can also pass the schema 
from pyspark.sql.types import *

In [47]:
schema = StructType([
    # StructField("column_name", columnType(), Nullable),
    StructField("id", StringType(), False),
    StructField("name", StringType(), True),
    StructField("height", IntegerType(), False)
])

In [49]:
df = spark.createDataFrame(data=data, schema=schema)
df.printSchema()

root
 |-- id: string (nullable = false)
 |-- name: string (nullable = true)
 |-- height: integer (nullable = false)

## SPARK.READ

usually we want to create a df from a data source.
Spark can read from the following sources

## CSV
spark.read.csv

usefull when reading from delimited files

In [51]:
csv_path = '../data/airports.text'

In [55]:
df = spark.read.csv(
    csv_path,
    # header=True,
    inferSchema=True  # affects performance as data as parsed a second time to inferSchema
)

In [56]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: double (nullable = true)
 |-- _c7: double (nullable = true)
 |-- _c8: integer (nullable = true)
 |-- _c9: double (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)

In [58]:
# describe() can be used to glance over the data statics
df.describe().show()

+-------+------------------+--------------+--------------+-----------+----+----+-----------------+-------------------+------------------+------------------+----+--------------+
|summary|               _c0|           _c1|           _c2|        _c3| _c4| _c5|              _c6|                _c7|               _c8|               _c9|_c10|          _c11|
+-------+------------------+--------------+--------------+-----------+----+----+-----------------+-------------------+------------------+------------------+----+--------------+
|  count|              8107|          8107|          8107|       8107|5880|8044|             8107|               8107|              8107|              8107|8107|          8107|
|   mean|4766.3610460096215|           NaN|           NaN|       null| NaN|null|26.81772048414372|-3.9219686495380888| 933.4493647465154|0.1692364623165166|null|          null|
| stddev| 2943.205192743097|           NaN|           NaN|       null| NaN|null|27.86695318132571|  85.90087275710746|1624.7408989269568| 5.737325603398365|null|          null|
|    min|                 1|    7 Novembre|108 Mile Ranch|Afghanistan| %u0|%u04|       -89.999997|           -179.877|             -1266|             -12.0|   A|Africa/Abidjan|
|    max|              9541|Žilina Airport|        Žilina|   Zimbabwe| ИКУ|  \N|        82.517778|            179.951|             14472|              13.0|   Z|            \N|
+-------+------------------+--------------+--------------+-----------+----+----+-----------------+-------------------+------------------+------------------+----+--------------+

In [59]:
df.show()

+---+--------------------+--------------+----------------+---+----+---------+----------+----+----+----+--------------------+
|_c0|                 _c1|           _c2|             _c3|_c4| _c5|      _c6|       _c7| _c8| _c9|_c10|                _c11|
+---+--------------------+--------------+----------------+---+----+---------+----------+----+----+----+--------------------+
|  1|              Goroka|        Goroka|Papua New Guinea|GKA|AYGA|-6.081689|145.391881|5282|10.0|   U|Pacific/Port_Moresby|
|  2|              Madang|        Madang|Papua New Guinea|MAG|AYMD|-5.207083|  145.7887|  20|10.0|   U|Pacific/Port_Moresby|
|  3|         Mount Hagen|   Mount Hagen|Papua New Guinea|HGU|AYMH|-5.826789|144.295861|5388|10.0|   U|Pacific/Port_Moresby|
|  4|              Nadzab|        Nadzab|Papua New Guinea|LAE|AYNZ|-6.569828|146.726242| 239|10.0|   U|Pacific/Port_Moresby|
|  5|Port Moresby Jack...|  Port Moresby|Papua New Guinea|POM|AYPY|-9.443383| 147.22005| 146|10.0|   U|Pacific/Port_Moresby|
|  6|          Wewak Intl|         Wewak|Papua New Guinea|WWK|AYWK|-3.583828|143.669186|  19|10.0|   U|Pacific/Port_Moresby|
|  7|          Narsarsuaq|  Narssarssuaq|       Greenland|UAK|BGBW|61.160517|-45.425978| 112|-3.0|   E|     America/Godthab|
|  8|                Nuuk|      Godthaab|       Greenland|GOH|BGGH|64.190922|-51.678064| 283|-3.0|   E|     America/Godthab|
|  9|   Sondre Stromfjord|   Sondrestrom|       Greenland|SFJ|BGSF|67.016969|-50.689325| 165|-3.0|   E|     America/Godthab|
| 10|      Thule Air Base|         Thule|       Greenland|THU|BGTL|76.531203|-68.703161| 251|-4.0|   E|       America/Thule|
| 11|            Akureyri|      Akureyri|         Iceland|AEY|BIAR|65.659994|-18.072703|   6| 0.0|   N|  Atlantic/Reykjavik|
| 12|         Egilsstadir|   Egilsstadir|         Iceland|EGS|BIEG|65.283333|-14.401389|  76| 0.0|   N|  Atlantic/Reykjavik|
| 13|        Hornafjordur|          Hofn|         Iceland|HFN|BIHN|64.295556|-15.227222|  24| 0.0|   N|  Atlantic/Reykjavik|
| 14|             Husavik|       Husavik|         Iceland|HZK|BIHU|65.952328|-17.425978|  48| 0.0|   N|  Atlantic/Reykjavik|
| 15|          Isafjordur|    Isafjordur|         Iceland|IFJ|BIIS|66.058056|-23.135278|   8| 0.0|   N|  Atlantic/Reykjavik|
| 16|Keflavik Internat...|      Keflavik|         Iceland|KEF|BIKF|   63.985|-22.605556| 171| 0.0|   N|  Atlantic/Reykjavik|
| 17|      Patreksfjordur|Patreksfjordur|         Iceland|PFJ|BIPA|65.555833|   -23.965|  11| 0.0|   N|  Atlantic/Reykjavik|
| 18|           Reykjavik|     Reykjavik|         Iceland|RKV|BIRK|    64.13|-21.940556|  48| 0.0|   N|  Atlantic/Reykjavik|
| 19|        Siglufjordur|  Siglufjordur|         Iceland|SIJ|BISI|66.133333|-18.916667|  10| 0.0|   N|  Atlantic/Reykjavik|
| 20|      Vestmannaeyjar|Vestmannaeyjar|         Iceland|VEY|BIVM|63.424303|-20.278875| 326| 0.0|   N|  Atlantic/Reykjavik|
+---+--------------------+--------------+----------------+---+----+---------+----------+----+----+----+--------------------+
only showing top 20 rows

using the output from the previous 2 cells, build a schema and pass it at read

In [62]:
csv_schema = StructType([
    # StructField("column_name", columnType(), Nullable),
    # edit this and add the columns
])

In [63]:
df = spark.read.csv(csv_path, schema=csv_schema)

In [64]:
df.show()

++
||
++
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
||
++
only showing top 20 rows

## TEXT
spark.read.text

similar to spark.Context.textFile

In [73]:
text_path = '../data/word_count.text'

In [74]:
df = spark.read.text(text_path)

In [75]:
df.show()

+--------------------+
|               value|
+--------------------+
|Liverpool Footbal...|
|                    |
|Founded in 1892, ...|
|                    |
|One of the most w...|
|                    |
|The club's suppor...|
|                    |
|Liverpool F.C. wa...|
|                    |
|Liverpool played ...|
|                    |
|Liverpool reached...|
|Statue of a man w...|
|Statue of Bill Sh...|
|                    |
|The club was prom...|
|                    |
|Paisley retired i...|
|3 burgundy tablet...|
+--------------------+
only showing top 20 rows

In [69]:
help(spark.read.text)

Help on method text in module pyspark.sql.readwriter:

text(paths, wholetext=False, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads text files and returns a :class:`DataFrame` whose schema starts with a
    string column named "value", and followed by partitioned columns if there
    are any.
    The text files must be encoded as UTF-8.

    By default, each line in the text file is a new row in the resulting DataFrame.

    :param paths: string, or list of strings, for input path(s).
    :param wholetext: if true, read each file from input path(s) as a single row.
    :param lineSep: defines the line separator that should be used for parsing. If None is
                    set, it covers all ``\r``, ``\r\n`` and ``\n``.
    :param pathGlobFilter: an optional glob pattern to only include files with paths matching
                           the pattern. The syntax follows `org.apache.hadoop.fs.GlobFilter`.
                           It does not change the behavior of `partition discovery`_.
    :param recursiveFileLookup: recursively scan a directory for files. Using this option
                                disables `partition discovery`_.

    >>> df = spark.read.text('python/test_support/sql/text-test.txt')
    >>> df.collect()
    [Row(value='hello'), Row(value='this')]
    >>> df = spark.read.text('python/test_support/sql/text-test.txt', wholetext=True)
    >>> df.collect()
    [Row(value='hello\nthis')]

    .. versionadded:: 1.6

## JSON
spark.read.json

In [78]:
json_path = '../data/resource_hvrh-b6nb.json'

In [79]:
df = spark.read.json(json_path)

In [80]:
df.printSchema()

root
 |-- dropoff_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- lpep_dropoff_datetime: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- ratecodeid: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- trip_type: string (nullable = true)
 |-- vendorid: string (nullable = true)

as long as they have a valid schema the json can be different

In [88]:
jsonStrings  = ['{"uploadTimeStamp":"1500618037189","ID":"123ID","data":[{"Data":{"unit":"rpm","value":"0"},"EventID":"E1","Timestamp":1500618037189,"pii":{}},{"Data":{"heading":"N","loc1":"false","loc2":"13.022425","loc3":"77.760587","loc4":"false","speed":"10"},"EventID":"E2","Timestamp":1500618037189,"pii":{}},{"Data":{"x":"1.1","y":"1.2","z":"2.2"},"EventID":"E3","Timestamp":1500618037189,"pii":{}},{"EventID":"E4","Data":{"value":"50","unit":"percentage"},"Timestamp":1500618037189},{"Data":{"unit":"kmph","value":"60"},"EventID":"E5","Timestamp":1500618037189,"pii":{}}]}',
 '{"uploadTimeStamp":"1500618045735","ID":"123ID","data":[{"Data":{"unit":"rpm","value":"0"},"EventID":"E1","Timestamp":1500618045735,"pii":{}},{"Data":{"heading":"N","loc1":"false","loc2":"13.022425","loc3":"77.760587","loc4":"false","speed":"10"},"EventID":"E2","Timestamp":1500618045735,"pii":{}},{"Data":{"x":"1.1","y":"1.2","z":"2.2"},"EventID":"E3","Timestamp":1500618045735,"pii":{}},{"EventID":"E4","Data":{"value":"50","unit":"percentage"},"Timestamp":1500618045735},{"Data":{"unit":"kmph","value":"60"},"EventID":"E5","Timestamp":1500618045735,"pii":{}}]}',
 '{"REGULAR_DUMMY":"REGULAR_DUMMY", "ID":"123ID", "uploadTimeStamp":1500546893837}',
 '{"REGULAR_DUMMY":"text_of_json_per_item_in_list"}'
]

In [107]:
jsonRDD = spark.sparkContext.parallelize(jsonStrings)
df = spark.read.json(jsonRDD)
df.show()

+-----+--------------------+--------------------+---------------+
|   ID|       REGULAR_DUMMY|                data|uploadTimeStamp|
+-----+--------------------+--------------------+---------------+
|123ID|                null|[[[,,,,,, rpm, 0,...|  1500618037189|
|123ID|                null|[[[,,,,,, rpm, 0,...|  1500618045735|
|123ID|       REGULAR_DUMMY|                null|  1500546893837|
| null|text_of_json_per_...|                null|           null|
+-----+--------------------+--------------------+---------------+

In [91]:
# the schema of the json is merged
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- REGULAR_DUMMY: string (nullable = true)
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Data: struct (nullable = true)
 |    |    |    |-- heading: string (nullable = true)
 |    |    |    |-- loc1: string (nullable = true)
 |    |    |    |-- loc2: string (nullable = true)
 |    |    |    |-- loc3: string (nullable = true)
 |    |    |    |-- loc4: string (nullable = true)
 |    |    |    |-- speed: string (nullable = true)
 |    |    |    |-- unit: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |    |    |-- x: string (nullable = true)
 |    |    |    |-- y: string (nullable = true)
 |    |    |    |-- z: string (nullable = true)
 |    |    |-- EventID: string (nullable = true)
 |    |    |-- Timestamp: long (nullable = true)
 |-- uploadTimeStamp: string (nullable = true)

In [ ]:
# Starting with Spark 2.2 you can read a multiline json
# ideally you want to receive the json on a single line

In [92]:
m_json = '../data/multiline.json'

In [94]:
spark.read.json(m_json).printSchema(s)

root
 |-- _corrupt_record: string (nullable = true)

In [95]:
spark.read.json(m_json).show()

AnalysisException: Since Spark 2.3, the queries from raw JSON/CSV files are disallowed when the
referenced columns only include the internal corrupt record column
(named _corrupt_record by default). For example:
spark.read.schema(schema).json(file).filter($"_corrupt_record".isNotNull).count()
and spark.read.schema(schema).json(file).select("_corrupt_record").show().
Instead, you can cache or save the parsed results and then send the same query.
For example, val df = spark.read.schema(schema).json(file).cache() and then
df.filter($"_corrupt_record".isNotNull).count().;

In [97]:
spark.read.json(m_json, multiLine=True).printSchema()

root
 |-- age: long (nullable = true)
 |-- id: long (nullable = true)
 |-- name: string (nullable = true)

In [108]:
df = df.filter(df['data'].isNotNull()).drop('REGULAR_DUMMY')

In [113]:
df.select('data').show(20, False)  # why did I used False here?!

+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|data                                                                                                                                                                                                                                                       |
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|[[[,,,,,, rpm, 0,,,], E1, 1500618037189], [[N, false, 13.022425, 77.760587, false, 10,,,,,], E2, 1500618037189], [[,,,,,,,, 1.1, 1.2, 2.2], E3, 1500618037189], [[,,,,,, percentage, 50,,,], E4, 1500618037189], [[,,,,,, kmph, 60,,,], E5, 1500618037189]]|
|[[[,,,,,, rpm, 0,,,], E1, 1500618045735], [[N, false, 13.022425, 77.760587, false, 10,,,,,], E2, 1500618045735], [[,,,,,,,, 1.1, 1.2, 2.2], E3, 1500618045735], [[,,,,,, percentage, 50,,,], E4, 1500618045735], [[,,,,,, kmph, 60,,,], E5, 1500618045735]]|
+-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [119]:
df.select('data').printSchema()

root
 |-- data: array (nullable = true)
 |    |-- element: struct (containsNull = true)
 |    |    |-- Data: struct (nullable = true)
 |    |    |    |-- heading: string (nullable = true)
 |    |    |    |-- loc1: string (nullable = true)
 |    |    |    |-- loc2: string (nullable = true)
 |    |    |    |-- loc3: string (nullable = true)
 |    |    |    |-- loc4: string (nullable = true)
 |    |    |    |-- speed: string (nullable = true)
 |    |    |    |-- unit: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |    |    |-- x: string (nullable = true)
 |    |    |    |-- y: string (nullable = true)
 |    |    |    |-- z: string (nullable = true)
 |    |    |-- EventID: string (nullable = true)
 |    |    |-- Timestamp: long (nullable = true)

In [134]:
df.select('data.Data.speed').show(20, False)

+---------+
|speed    |
+---------+
|[, 10,,,]|
|[, 10,,,]|
+---------+

In [139]:
df.select('data.Data.speed').printSchema()

root
 |-- speed: array (nullable = true)
 |    |-- element: string (containsNull = true)

In [158]:
# exploding nested jsons fields is a "hard" problem in spark
from pyspark.sql.functions import explode, arrays_zip
df.select(explode(arrays_zip('data'))).show(20, False)

+-----------------------------------------------------------------------+
|col                                                                    |
+-----------------------------------------------------------------------+
|[[[,,,,,, rpm, 0,,,], E1, 1500618037189]]                              |
|[[[N, false, 13.022425, 77.760587, false, 10,,,,,], E2, 1500618037189]]|
|[[[,,,,,,,, 1.1, 1.2, 2.2], E3, 1500618037189]]                        |
|[[[,,,,,, percentage, 50,,,], E4, 1500618037189]]                      |
|[[[,,,,,, kmph, 60,,,], E5, 1500618037189]]                            |
|[[[,,,,,, rpm, 0,,,], E1, 1500618045735]]                              |
|[[[N, false, 13.022425, 77.760587, false, 10,,,,,], E2, 1500618045735]]|
|[[[,,,,,,,, 1.1, 1.2, 2.2], E3, 1500618045735]]                        |
|[[[,,,,,, percentage, 50,,,], E4, 1500618045735]]                      |
|[[[,,,,,, kmph, 60,,,], E5, 1500618045735]]                            |
+-----------------------------------------------------------------------+

In [156]:
df.select(explode(arrays_zip('data'))).printSchema()

root
 |-- col: struct (nullable = false)
 |    |-- data: struct (nullable = true)
 |    |    |-- Data: struct (nullable = true)
 |    |    |    |-- heading: string (nullable = true)
 |    |    |    |-- loc1: string (nullable = true)
 |    |    |    |-- loc2: string (nullable = true)
 |    |    |    |-- loc3: string (nullable = true)
 |    |    |    |-- loc4: string (nullable = true)
 |    |    |    |-- speed: string (nullable = true)
 |    |    |    |-- unit: string (nullable = true)
 |    |    |    |-- value: string (nullable = true)
 |    |    |    |-- x: string (nullable = true)
 |    |    |    |-- y: string (nullable = true)
 |    |    |    |-- z: string (nullable = true)
 |    |    |-- EventID: string (nullable = true)
 |    |    |-- Timestamp: long (nullable = true)

## JDBC
spark.read.jdbc

depending on the number of partitions, the db will receive multiple connections. This might make the db unresponsive.

used less in big projects

the code below is just an example. read the following article for more details about jdbc reads
https://github.com/awesome-spark/spark-gotchas/blob/master/05_spark_sql_and_dataset_api.md#reading-data-using-jdbc-source

In [151]:
jdbcDF = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql:dbserver") \
    .option("dbtable", "schema.tablename") \
    .option("user", "username") \
    .option("password", "password") \
    .load()

jdbcDF2 = spark.read \
    .jdbc("jdbc:postgresql:dbserver", "schema.tablename",
          properties={"user": "username", "password": "password"})

# Specifying dataframe column data types on read
jdbcDF3 = spark.read \
    .format("jdbc") \
    .option("url", "jdbc:postgresql:dbserver") \
    .option("dbtable", "schema.tablename") \
    .option("user", "username") \
    .option("password", "password") \
    .option("customSchema", "id DECIMAL(38, 0), name STRING") \
    .load()

Py4JJavaError: An error occurred while calling o541.load.
: java.sql.SQLException: No suitable driver
	at java.sql/java.sql.DriverManager.getDriver(DriverManager.java:298)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.$anonfun$driverClass$2(JDBCOptions.scala:105)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:105)
	at org.apache.spark.sql.execution.datasources.jdbc.JDBCOptions.<init>(JDBCOptions.scala:35)
	at org.apache.spark.sql.execution.datasources.jdbc.JdbcRelationProvider.createRelation(JdbcRelationProvider.scala:32)
	at org.apache.spark.sql.execution.datasources.DataSource.resolveRelation(DataSource.scala:344)
	at org.apache.spark.sql.DataFrameReader.loadV1Source(DataFrameReader.scala:297)
	at org.apache.spark.sql.DataFrameReader.$anonfun$load$2(DataFrameReader.scala:286)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:286)
	at org.apache.spark.sql.DataFrameReader.load(DataFrameReader.scala:221)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke0(Native Method)
	at java.base/jdk.internal.reflect.NativeMethodAccessorImpl.invoke(NativeMethodAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)

## Parquet
spark.read.parquet

https://databricks.com/glossary/what-is-parquet

In [160]:
df = spark.read.parquet(parquet_path)

NameError: name 'parquet_path' is not defined

read more about partition discovery
https://spark.apache.org/docs/latest/sql-data-sources-parquet.html#partition-discovery

## FORMAT & LOAD
generic way of reading data from the above data sources

In [161]:
df = spark.read.format("parquet").load(parquet_path)

NameError: name 'parquet_path' is not defined

In [ ]:
df = spark.read.format('jdbc').option().load()

In [ ]:
df = spark.read.format('csv').option().load()

usefull when developing frameworks (reading metadata and using generic ETL)

## Write
same as read, with additional options related to number of partitions.

assuming df is the final dataframe, you can do something like in the cells below

read the entire list of options at
https://spark.apache.org/docs/latest/api/python/pyspark.sql.html#pyspark.sql.DataFrameWriter

In [ ]:
df.write.csv(output_csv)

In [ ]:
df.write.parquet(output_parquet)

In [ ]:
df.write.json(output_json)

In [ ]:
df.write.jdbc()

In [ ]:
df.format('parquet|jdbc|json').option().save()

## Transformations

In [167]:
csv_file = '../data/uk-postcode.csv'
df = spark.read.csv(csv_file, header = True, inferSchema=True)

In [168]:
df.show()

+--------+--------+---------+-------+--------+--------+--------------------+-------------+---------+----------------+----------+----------+
|Postcode|Latitude|Longitude|Easting|Northing| GridRef|           Town/Area|       Region|Postcodes|Active postcodes|Population|Households|
+--------+--------+---------+-------+--------+--------+--------------------+-------------+---------+----------------+----------+----------+
|     AB1| 57.1269| -2.13644| 391839|  804005|NJ918040|            Aberdeen|     Aberdeen|     2655|               0|      null|      null|
|     AB2| 57.1713| -2.14152| 391541|  808948|NJ915089|            Aberdeen|     Aberdeen|     3070|               0|      null|      null|
|     AB3| 57.0876| -2.59624| 363963|  799780|NO639997|            Aberdeen|     Aberdeen|     2168|               0|      null|      null|
|     AB4| 57.5343| -2.12713| 392487|  849358|NJ924493|Fraserburgh, Pete...|     Aberdeen|     2956|               0|      null|      null|
|     AB5| 57.4652| -2.64764| 361248|  841843|NJ612418|Buckie, Huntly, I...|     Aberdeen|     3002|               0|      null|      null|
|     AB9| 57.1466|  -2.1142| 393189|  806196|NJ931061|            Aberdeen|     Aberdeen|     1066|               0|      null|      null|
|    AB10| 57.1348| -2.11748| 392988|  804882|NJ929048|Aberdeen city cen...|     Aberdeen|      888|             675|     21964|     11517|
|    AB11| 57.1371| -2.09341| 394445|  805136|NJ944051|Aberdeen city cen...|     Aberdeen|      889|             644|     21237|     10926|
|    AB12| 57.1033| -2.11034| 393414|  801375|NJ934013|Aberdeen, Altens,...|     Aberdeen|      991|             782|     25414|     10688|
|    AB13| 57.1127| -2.24469| 385279|  802443|NJ852024|          Milltimber|     Aberdeen|      100|              80|      2725|       947|
|    AB14| 57.1033| -2.27251| 383590|  801402|NJ835014|Peterculter, Uppe...|     Aberdeen|      164|             140|      4881|      2162|
|    AB15| 57.1388| -2.16551| 390082|  805334|NJ900053|Aberdeen, Bieldsi...|     Aberdeen|     1205|            1019|     35543|     15330|
|    AB16| 57.1596| -2.15654| 390630|  807648|NJ906076|Aberdeen, Mastric...|     Aberdeen|      893|             776|     29238|     12874|
|    AB21| 57.2091| -2.20174| 387912|  813165|NJ879131|Aberdeen, Blackbu...|     Aberdeen|      879|             732|     22181|      9650|
|    AB22| 57.1864| -2.11913| 392898|  810627|NJ928106|Aberdeen, Bridge ...|     Aberdeen|      361|             300|     16311|      6978|
|    AB23| 57.2088| -2.08971| 394680|  813118|NJ946131|Aberdeen, Balmedi...|     Aberdeen|      399|             311|     11143|      4517|
|    AB24| 57.1634| -2.10828| 393550|  808065|NJ935080|Aberdeen, Old Abe...|     Aberdeen|      968|             808|     36343|     16935|
|    AB25| 57.1534| -2.11422| 393189|  806953|NJ931069|Aberdeen city cen...|     Aberdeen|      610|             476|     18407|      9634|
|    AB30|  56.846| -2.47726| 370986|  772829|NO709728|        Laurencekirk|Aberdeenshire|      349|             308|      7229|      2935|
|    AB31| 57.0672| -2.50552| 369444|  797465|NO694974|            Banchory|Aberdeenshire|     1033|             629|     15319|      6096|
+--------+--------+---------+-------+--------+--------+--------------------+-------------+---------+----------------+----------+----------+
only showing top 20 rows

In [178]:
df.describe().show(5, False)

+-------+---------+------------------+------------------+------------------+-----------------+--------+-----------------+--------+-----------------+-----------------+------------------+------------------+
|summary|Post Code|Latitude          |Longitude         |Easting           |Northing         |GridRef |Town/Area        |Region  |Postcodes        |Active postcodes |Population        |Households        |
+-------+---------+------------------+------------------+------------------+-----------------+--------+-----------------+--------+-----------------+-----------------+------------------+------------------+
|count  |3107     |3094              |3094              |3082              |3082             |3082    |3107             |3106    |3086             |3086             |2814              |2814              |
|mean   |null     |53.034849482870136|-2.051575161550915|399520.80012978584|351774.8997404283|null    |null             |null    |832.2216461438755|564.9565780946209|22437.184434968018|9390.271144278608 |
|stddev |null     |1.8865014315147148|1.8334605907478179|121798.85778550198|209187.830957896 |null    |null             |null    |600.2495165657779|397.5467297411277|16578.512623860708|6814.9887522729805|
|min    |AB1      |49.1995           |-7.82593          |22681             |8307             |HU390111|Abbey Hey, Gorton|Aberdeen|1                |0                |2                 |1                 |
|max    |ZE3      |60.3156           |1.73337           |653560            |1159304          |TV604994|York City Centre |York    |3621             |2644             |153812            |61886             |
+-------+---------+------------------+------------------+------------------+-----------------+--------+-----------------+--------+-----------------+-----------------+------------------+------------------+

In [ ]:
+-------+---------+------------------+------------------+------------------+-----------------+--------+-----------------+--------+-----------------+-----------------+------------------+------------------+
|summary|Post Code|Latitude          |Longitude         |Easting           |Northing         |GridRef |Town/Area        |Region  |Postcodes        |Active postcodes |Population        |Households        |
+-------+---------+------------------+------------------+------------------+-----------------+--------+-----------------+--------+-----------------+-----------------+------------------+------------------+
|count  |3107     |3094              |3094              |3082              |3082             |3082    |3107             |3106    |3086             |3086             |2814              |2814              |
|mean   |null     |53.034849482870136|-2.051575161550915|399520.80012978584|351774.8997404283|null    |null             |null    |832.2216461438755|564.9565780946209|22437.184434968018|9390.271144278608 |
|stddev |null     |1.8865014315147148|1.8334605907478179|121798.85778550198|209187.830957896 |null    |null             |null    |600.2495165657779|397.5467297411277|16578.512623860708|6814.9887522729805|
|min    |AB1      |49.1995           |-7.82593          |22681             |8307             |HU390111|Abbey Hey, Gorton|Aberdeen|1                |0                |2                 |1                 |
|max    |ZE3      |60.3156           |1.73337           |653560            |1159304          |TV604994|York City Centre |York    |3621             |2644             |153812            |61886             |
+-------+---------+------------------+------------------+------------------+-----------------+--------+-----------------+--------+-----------------+-----------------+------------------+------------------+

In [169]:
# select fields
df.select('Postcode', 'Latitude').show()

+--------+--------+
|Postcode|Latitude|
+--------+--------+
|     AB1| 57.1269|
|     AB2| 57.1713|
|     AB3| 57.0876|
|     AB4| 57.5343|
|     AB5| 57.4652|
|     AB9| 57.1466|
|    AB10| 57.1348|
|    AB11| 57.1371|
|    AB12| 57.1033|
|    AB13| 57.1127|
|    AB14| 57.1033|
|    AB15| 57.1388|
|    AB16| 57.1596|
|    AB21| 57.2091|
|    AB22| 57.1864|
|    AB23| 57.2088|
|    AB24| 57.1634|
|    AB25| 57.1534|
|    AB30|  56.846|
|    AB31| 57.0672|
+--------+--------+
only showing top 20 rows

In [172]:
# rename column
df = df.withColumnRenamed('Postcode', 'Post Code')
df.show()

+---------+--------+---------+-------+--------+--------+--------------------+-------------+---------+----------------+----------+----------+
|Post Code|Latitude|Longitude|Easting|Northing| GridRef|           Town/Area|       Region|Postcodes|Active postcodes|Population|Households|
+---------+--------+---------+-------+--------+--------+--------------------+-------------+---------+----------------+----------+----------+
|      AB1| 57.1269| -2.13644| 391839|  804005|NJ918040|            Aberdeen|     Aberdeen|     2655|               0|      null|      null|
|      AB2| 57.1713| -2.14152| 391541|  808948|NJ915089|            Aberdeen|     Aberdeen|     3070|               0|      null|      null|
|      AB3| 57.0876| -2.59624| 363963|  799780|NO639997|            Aberdeen|     Aberdeen|     2168|               0|      null|      null|
|      AB4| 57.5343| -2.12713| 392487|  849358|NJ924493|Fraserburgh, Pete...|     Aberdeen|     2956|               0|      null|      null|
|      AB5| 57.4652| -2.64764| 361248|  841843|NJ612418|Buckie, Huntly, I...|     Aberdeen|     3002|               0|      null|      null|
|      AB9| 57.1466|  -2.1142| 393189|  806196|NJ931061|            Aberdeen|     Aberdeen|     1066|               0|      null|      null|
|     AB10| 57.1348| -2.11748| 392988|  804882|NJ929048|Aberdeen city cen...|     Aberdeen|      888|             675|     21964|     11517|
|     AB11| 57.1371| -2.09341| 394445|  805136|NJ944051|Aberdeen city cen...|     Aberdeen|      889|             644|     21237|     10926|
|     AB12| 57.1033| -2.11034| 393414|  801375|NJ934013|Aberdeen, Altens,...|     Aberdeen|      991|             782|     25414|     10688|
|     AB13| 57.1127| -2.24469| 385279|  802443|NJ852024|          Milltimber|     Aberdeen|      100|              80|      2725|       947|
|     AB14| 57.1033| -2.27251| 383590|  801402|NJ835014|Peterculter, Uppe...|     Aberdeen|      164|             140|      4881|      2162|
|     AB15| 57.1388| -2.16551| 390082|  805334|NJ900053|Aberdeen, Bieldsi...|     Aberdeen|     1205|            1019|     35543|     15330|
|     AB16| 57.1596| -2.15654| 390630|  807648|NJ906076|Aberdeen, Mastric...|     Aberdeen|      893|             776|     29238|     12874|
|     AB21| 57.2091| -2.20174| 387912|  813165|NJ879131|Aberdeen, Blackbu...|     Aberdeen|      879|             732|     22181|      9650|
|     AB22| 57.1864| -2.11913| 392898|  810627|NJ928106|Aberdeen, Bridge ...|     Aberdeen|      361|             300|     16311|      6978|
|     AB23| 57.2088| -2.08971| 394680|  813118|NJ946131|Aberdeen, Balmedi...|     Aberdeen|      399|             311|     11143|      4517|
|     AB24| 57.1634| -2.10828| 393550|  808065|NJ935080|Aberdeen, Old Abe...|     Aberdeen|      968|             808|     36343|     16935|
|     AB25| 57.1534| -2.11422| 393189|  806953|NJ931069|Aberdeen city cen...|     Aberdeen|      610|             476|     18407|      9634|
|     AB30|  56.846| -2.47726| 370986|  772829|NO709728|        Laurencekirk|Aberdeenshire|      349|             308|      7229|      2935|
|     AB31| 57.0672| -2.50552| 369444|  797465|NO694974|            Banchory|Aberdeenshire|     1033|             629|     15319|      6096|
+---------+--------+---------+-------+--------+--------+--------------------+-------------+---------+----------------+----------+----------+
only showing top 20 rows

In [190]:
df.schema.fieldNames()

['Post Code',
 'Latitude',
 'Longitude',
 'Easting',
 'Northing',
 'GridRef',
 'Town/Area',
 'Region',
 'Postcodes',
 'Active postcodes',
 'Population',
 'Households']

In [198]:
from pyspark.sql.functions import col, when
df = df.withColumn('type', when(col('Population') < 10000, 'village').when(df['Population'] < 20000, 'town').otherwise('city').alias('type'))

In [202]:
df.select('type').distinct().show()

+-------+
|   type|
+-------+
|   city|
|   town|
|village|
+-------+

In [237]:
# if you write a condition like this, is easier to read it
df = df.withColumn('schema',
                   when(col('Population').isNull(), None)\
                   .when(col('Population') < 10000, 'village')\
                   .when(df['Population'] < 20000, 'town')\
                   .otherwise('city'))

In [239]:
df.filter(df.schema.isNull()).show(5)
# why do we have an error here?

AttributeError: 'StructType' object has no attribute 'isNull'

In [241]:
df.filter(df['schema'].isNull()).show(5)

+---------+--------+---------+-------+--------+--------+--------------------+-----------+---------+----------------+----------+----------+----+------+
|Post Code|Latitude|Longitude|Easting|Northing| GridRef|           Town/Area|     Region|Postcodes|Active postcodes|Population|Households|type|schema|
+---------+--------+---------+-------+--------+--------+--------------------+-----------+---------+----------------+----------+----------+----+------+
|     CH28| 53.4005| -3.11196| 326165|  389873|SJ261898|Non-geographic, M...|     Wirral|       37|               4|      null|      null|null|  null|
|     SN38| 51.5599| -1.78933| 414701|  184578|SU147845|             Swindon|    Swindon|      292|             151|      null|      null|null|  null|
|      SO9| 50.9129|   -1.407| 441786|  112771|SU417127|Southampton city ...|Southampton|     1120|               0|      null|      null|null|  null|
|     BN99| 50.8215|-0.356139| 515888|  103727|TQ158037|   Worthing, Lancing|   Worthing|      384|             347|      null|      null|null|  null|
|     NE88| 54.9473| -1.61193| 424956|  561474|NZ249614|      Non-geographic|  Newcastle|       11|               8|      null|      null|null|  null|
+---------+--------+---------+-------+--------+--------+--------------------+-----------+---------+----------------+----------+----------+----+------+
only showing top 5 rows

In [ ]:
+---------+--------+---------+-------+--------+--------+--------------------+--------+---------+----------------+----------+----------+----+
|Post Code|Latitude|Longitude|Easting|Northing| GridRef|           Town/Area|  Region|Postcodes|Active postcodes|Population|Households|type|
+---------+--------+---------+-------+--------+--------+--------------------+--------+---------+----------------+----------+----------+----+
|      AB1| 57.1269| -2.13644| 391839|  804005|NJ918040|            Aberdeen|Aberdeen|     2655|               0|      null|      null|city|
|      AB2| 57.1713| -2.14152| 391541|  808948|NJ915089|            Aberdeen|Aberdeen|     3070|               0|      null|      null|city|
|      AB3| 57.0876| -2.59624| 363963|  799780|NO639997|            Aberdeen|Aberdeen|     2168|               0|      null|      null|city|
|      AB4| 57.5343| -2.12713| 392487|  849358|NJ924493|Fraserburgh, Pete...|Aberdeen|     2956|               0|      null|      null|city|
|      AB5| 57.4652| -2.64764| 361248|  841843|NJ612418|Buckie, Huntly, I...|Aberdeen|     3002|               0|      null|      null|city|
+---------+--------+---------+-------+--------+--------+--------------------+--------+---------+----------------+----------+----------+----+

In [244]:
# replace null
df.na.fill('').filter(df['GridRef'] == 'SJ261898').show()

+---------+--------+---------+-------+--------+--------+--------------------+------+---------+----------------+----------+----------+----+------+
|Post Code|Latitude|Longitude|Easting|Northing| GridRef|           Town/Area|Region|Postcodes|Active postcodes|Population|Households|type|schema|
+---------+--------+---------+-------+--------+--------+--------------------+------+---------+----------------+----------+----------+----+------+
|     CH28| 53.4005| -3.11196| 326165|  389873|SJ261898|Non-geographic, M...|Wirral|       37|               4|      null|      null|    |      |
+---------+--------+---------+-------+--------+--------+--------------------+------+---------+----------------+----------+----------+----+------+

In [245]:
df.na.fill('ThisWasNULL').filter(df['GridRef'] == 'SJ261898').show()

+---------+--------+---------+-------+--------+--------+--------------------+------+---------+----------------+----------+----------+-----------+-----------+
|Post Code|Latitude|Longitude|Easting|Northing| GridRef|           Town/Area|Region|Postcodes|Active postcodes|Population|Households|       type|     schema|
+---------+--------+---------+-------+--------+--------+--------------------+------+---------+----------------+----------+----------+-----------+-----------+
|     CH28| 53.4005| -3.11196| 326165|  389873|SJ261898|Non-geographic, M...|Wirral|       37|               4|      null|      null|ThisWasNULL|ThisWasNULL|
+---------+--------+---------+-------+--------+--------+--------------------+------+---------+----------------+----------+----------+-----------+-----------+

In [246]:
df.na.drop().filter(df['GridRef'] == 'SJ261898').show()

+---------+--------+---------+-------+--------+-------+---------+------+---------+----------------+----------+----------+----+------+
|Post Code|Latitude|Longitude|Easting|Northing|GridRef|Town/Area|Region|Postcodes|Active postcodes|Population|Households|type|schema|
+---------+--------+---------+-------+--------+-------+---------+------+---------+----------------+----------+----------+----+------+
+---------+--------+---------+-------+--------+-------+---------+------+---------+----------------+----------+----------+----+------+

In [255]:
df.select('schema').na.fill('').replace({'town': 'Town'}).distinct().collect()

[Row(schema='city'), Row(schema='village'), Row(schema=''), Row(schema='Town')]

In [256]:
df.withColumn('extra_column', 'literal_value').printSchema()

AssertionError: col should be Column

In [257]:
from pyspark.sql.functions import lit
df.withColumn('extra_column', lit('literal_value')).printSchema()

root
 |-- Post Code: string (nullable = true)
 |-- Latitude: double (nullable = true)
 |-- Longitude: double (nullable = true)
 |-- Easting: integer (nullable = true)
 |-- Northing: integer (nullable = true)
 |-- GridRef: string (nullable = true)
 |-- Town/Area: string (nullable = true)
 |-- Region: string (nullable = true)
 |-- Postcodes: integer (nullable = true)
 |-- Active postcodes: integer (nullable = true)
 |-- Population: integer (nullable = true)
 |-- Households: integer (nullable = true)
 |-- type: string (nullable = true)
 |-- schema: string (nullable = true)
 |-- extra_column: string (nullable = false)

In [ ]:
# group by

In [272]:
ag = df.groupby('Region', 'Town/Area')

In [273]:
print(ag.count(), df.count())

DataFrame[Region: string, Town/Area: string, count: bigint] 3107

In [261]:
df.groupby('Region').count().show()

+--------------------+-----+
|              Region|count|
+--------------------+-----+
|           Worcester|   11|
|           Charnwood|    2|
|      North Kesteven|    2|
|                Arun|    3|
|       Epping Forest|    6|
|             Waveney|    3|
|              Stroud|    5|
| Nuneaton & Bedworth|    3|
|          New Forest|    8|
|           Sedgemoor|    1|
|           Newmarket|    1|
|              Maldon|    2|
|            Worthing|    6|
|           Guildford|    8|
|            Brighton|    1|
|              Bolton|    9|
|      North Tyneside|    7|
|Central Bedfordshire|    8|
|      Wellingborough|    2|
|        Surrey Heath|    5|
+--------------------+-----+
only showing top 20 rows

In [265]:
df.groupby('Region', 'type').sum().show()

+--------------------+-------+------------------+-------------------+------------+-------------+--------------+---------------------+---------------+---------------+
|              Region|   type|     sum(Latitude)|     sum(Longitude)|sum(Easting)|sum(Northing)|sum(Postcodes)|sum(Active postcodes)|sum(Population)|sum(Households)|
+--------------------+-------+------------------+-------------------+------------+-------------+--------------+---------------------+---------------+---------------+
|          New Forest|   city|          254.1205|-7.9065900000000005|     2147917|       514103|          6330|                 4719|         157569|          68905|
|         Mole Valley|village|           51.2328|          -0.284652|      519858|       149577|           179|                  141|           4313|           1778|
|           Hambleton|   town|           54.4691|           -1.16791|      454027|       508511|           612|                  527|          12832|           5821|
|            Hereford|village|          156.4724| -8.624130000000001|     1020748|       754231|          1099|                  943|          19355|           8570|
|          North Down|   city|163.81220000000002|          -16.83903|      500282|      1587640|          2538|                 2538|          83041|          34521|
|   Llandrindod Wells|village|313.31329999999997|-20.214760000000002|     1839260|      1552555|          1033|                  917|          19566|           8772|
|           Worcester|   null|104.39920000000001|           -4.43141|      770708|       511458|            43|                    5|           null|           null|
|Richmond upon Thames|   town|          154.3924|-0.8182590000000001|     1560248|       525964|          2070|                 1280|          52176|          22252|
|       Blaenau Gwent|   city|           155.291|            -9.5967|      952076|       623703|          2234|                 2019|          75512|          32885|
|      South Ayrshire|   town|221.73919999999998|          -18.70586|      922980|      2475676|          2214|                 1796|          61814|          28978|
|           Rotherham|   town|           53.4663|           -1.34525|      443564|       396817|           728|                  602|          19772|           8539|
|            Strabane|village|           54.6961|           -7.61162|       38605|       547918|           305|                  305|           7691|           2836|
|            Somerset|village|          715.3105|-40.547019999999996|     4722758|      1863500|          2890|                 2403|          58212|          25113|
|               Leeds|village|322.93359999999996|           -9.20168|     2584773|      2617950|          3663|                 1804|          45159|          17165|
|  Telford and Wrekin|   city|158.06709999999998|-7.3881499999999996|     1106463|       930750|          4018|                 2763|          99808|          39795|
|              Rother|   town|203.67659999999998|           1.915533|     2297339|       464945|          3131|                 2241|          59782|          26656|
|            Tendring|   town|103.78049999999999|            2.31362|     1234659|       452026|          1133|                  909|          25258|          11364|
|         Bournemouth|   city|202.97639999999998|            -7.4313|     1640513|       375370|          3074|                 2365|         102019|          42792|
|      East Hampshire|   town|102.00569999999999|          -1.869828|      949660|       246293|          1288|                  961|          23140|           9739|
|              Antrim|   city|           54.7322|            -6.2574|      126023|       545789|           981|                  981|          40205|          15409|
+--------------------+-------+------------------+-------------------+------------+-------------+--------------+---------------------+---------------+---------------+
only showing top 20 rows

In [276]:
ag = df.groupby('Region', 'type').agg({'Region': 'count'}).withColumnRenamed('count(Region)', 'asd')

In [277]:
ag.show(20)

+--------------------+-------+---+
|              Region|   type|asd|
+--------------------+-------+---+
|          New Forest|   city|  5|
|         Mole Valley|village|  1|
|           Hambleton|   town|  1|
|            Hereford|village|  3|
|          North Down|   city|  3|
|   Llandrindod Wells|village|  6|
|           Worcester|   null|  2|
|Richmond upon Thames|   town|  3|
|       Blaenau Gwent|   city|  3|
|      South Ayrshire|   town|  4|
|           Rotherham|   town|  1|
|            Strabane|village|  1|
|            Somerset|village| 14|
|               Leeds|village|  6|
|  Telford and Wrekin|   city|  3|
|              Rother|   town|  4|
|            Tendring|   town|  2|
|         Bournemouth|   city|  4|
|      East Hampshire|   town|  2|
|              Antrim|   city|  1|
+--------------------+-------+---+
only showing top 20 rows

In [278]:
import pyspark.sql.functions as pf
ag = df.groupby('Region', 'type').agg(pf.sum('Population').alias('sum_population'), pf.count('PostCodes'))

In [279]:
ag.show()

+--------------------+-------+--------------+----------------+
|              Region|   type|sum_population|count(PostCodes)|
+--------------------+-------+--------------+----------------+
|          New Forest|   city|        157569|               5|
|         Mole Valley|village|          4313|               1|
|           Hambleton|   town|         12832|               1|
|            Hereford|village|         19355|               3|
|          North Down|   city|         83041|               3|
|   Llandrindod Wells|village|         19566|               6|
|           Worcester|   null|          null|               2|
|Richmond upon Thames|   town|         52176|               3|
|       Blaenau Gwent|   city|         75512|               3|
|      South Ayrshire|   town|         61814|               4|
|           Rotherham|   town|         19772|               1|
|            Strabane|village|          7691|               1|
|            Somerset|village|         58212|              14|
|               Leeds|village|         45159|               6|
|  Telford and Wrekin|   city|         99808|               3|
|              Rother|   town|         59782|               4|
|            Tendring|   town|         25258|               2|
|         Bournemouth|   city|        102019|               4|
|      East Hampshire|   town|         23140|               2|
|              Antrim|   city|         40205|               1|
+--------------------+-------+--------------+----------------+
only showing top 20 rows

## Partitions

Choose the right partition column. Think about how the cardinality of that column affects how the data gets distributed.

When in doubt hash is better (safer)

In [210]:
# get number of partitions
df.rdd.getNumPartitions()

10

In [209]:
# you can use repartition to redistribuite data
# triggers a shuffle

# repartition by hash
df = df.repartition(10)

# repartition by columns
df = df.repartition('col1','col2')

# repartition by hash and cols
df = df.repartition(10, 'col1', 'col2')

AnalysisException: cannot resolve '`col1`' given input columns: [type2.Active postcodes, type2.Easting, type2.GridRef, type2.Households, type2.Latitude, type2.Longitude, type2.Northing, type2.Population, type2.Post Code, type2.Postcodes, type2.Region, type2.Town/Area, type2.type];;
'RepartitionByExpression ['col1, 'col2], 200
+- Repartition 10, true
   +- SubqueryAlias type2
      +- Project [Post Code#2361, Latitude#2252, Longitude#2253, Easting#2254, Northing#2255, GridRef#2256, Town/Area#2257, Region#2258, Postcodes#2259, Active postcodes#2260, Population#2261, Households#2262, CASE WHEN (Population#2261 < 10000) THEN village WHEN (Population#2261 < 20000) THEN town ELSE city END AS type#4009]
         +- Project [Post Code#2361, Latitude#2252, Longitude#2253, Easting#2254, Northing#2255, GridRef#2256, Town/Area#2257, Region#2258, Postcodes#2259, Active postcodes#2260, Population#2261, Households#2262, CASE WHEN (Population#2261 < 10000) THEN village WHEN (Population#2261 < 20000) THEN town ELSE city END AS type#3923]
            +- Project [Postcode#2251 AS Post Code#2361, Latitude#2252, Longitude#2253, Easting#2254, Northing#2255, GridRef#2256, Town/Area#2257, Region#2258, Postcodes#2259, Active postcodes#2260, Population#2261, Households#2262]
               +- Relation[Postcode#2251,Latitude#2252,Longitude#2253,Easting#2254,Northing#2255,GridRef#2256,Town/Area#2257,Region#2258,Postcodes#2259,Active postcodes#2260,Population#2261,Households#2262] csv

In [ ]:
# you can use coalesce to reduce the number of partitions
# assuming 10 partitions and 5 workers
df = df.coalesce(5)
# will reduce the number of partions without triggering a shuffle
# df.coalesce(20) will not do anything because 20 > 10

In [213]:
df.select('Region').distinct().count()

427

In [217]:
df_200 = df.repartition('Region')

In [218]:
df_200.rdd.getNumPartitions()

200

In [219]:
df_200.show(20)

+---------+--------+---------+-------+--------+--------+--------------------+--------------+---------+----------------+----------+----------+-------+
|Post Code|Latitude|Longitude|Easting|Northing| GridRef|           Town/Area|        Region|Postcodes|Active postcodes|Population|Households|   type|
+---------+--------+---------+-------+--------+--------+--------------------+--------------+---------+----------------+----------+----------+-------+
|      WR1| 52.1974| -2.21749| 385231|  255485|SO852554|           Worcester|     Worcester|      835|             431|      9231|      4850|village|
|      WR2| 52.1916| -2.23948| 383726|  254845|SO837548|           Worcester|     Worcester|      902|             711|     29799|     12092|   city|
|      WR3| 52.2159| -2.21017| 385738|  257541|SO857575|           Worcester|     Worcester|      677|             515|     20397|      8738|   city|
|      WR4| 52.2049| -2.18969| 387134|  256314|SO871563|           Worcester|     Worcester|      814|             610|     26127|     10881|   city|
|      WR5| 52.1803| -2.20008| 386416|  253580|SO864535|           Worcester|     Worcester|      974|             753|     30933|     12785|   city|
|      WR6| 52.2293| -2.36104| 375437|  259072|SO754590|           Worcester|     Worcester|      614|             504|     12216|      5056|   town|
|      WR7| 52.1975| -2.06376| 395739|  255475|SO957554|           Worcester|     Worcester|      266|             212|      5348|      2131|village|
|      WR8| 52.0907| -2.20143| 386296|  243613|SO862436|           Worcester|     Worcester|      421|             326|      8093|      3602|village|
|     WR15| 52.3061| -2.57246| 361065|  267708|SO610677|       Tenbury Wells|     Worcester|      312|             250|      7196|      3110|village|
|     WR78| 52.2018| -2.21146| 385645|  255973|SO856559|           Worcester|     Worcester|       15|               0|      null|      null|   city|
|     WR99| 52.1974| -2.21995| 385063|  255485|SO850554|           Worcester|     Worcester|       28|               5|      null|      null|   city|
|     LE11| 52.7707| -1.21979| 452735|  319519|SK527195|Loughborough, Cha...|     Charnwood|     2027|            1183|     60318|     22336|   city|
|     LE12| 52.7681| -1.19231| 454593|  319250|SK545192|East Leake, West ...|     Charnwood|     1689|            1439|     61909|     25869|   city|
|      LN4|  53.153|-0.390125| 507754|  362973|TF077629|Branston, Canwick...|North Kesteven|     1305|            1064|     38539|     16126|   city|
|     NG34| 52.9876|-0.395382| 507814|  344567|TF078445|            Sleaford|North Kesteven|     1477|            1288|     40829|     17659|   city|
|     BN16| 50.8154|-0.497802| 505923|  102836|TQ059028|Angmering, East P...|          Arun|     1267|             949|     28131|     13097|   city|
|     BN17| 50.8149| -0.53709| 503157|  102725|TQ031027|Littlehampton, Cl...|          Arun|      891|             713|     28542|     12514|   city|
|     BN18| 50.8488|-0.578428| 500172|  106438|TQ001064|Arundel, Amberley...|          Arun|      652|             477|     13232|      5566|   town|
|      CM5| 51.7184| 0.247565| 555355|  204576|TL553045|Chipping Ongar, H...| Epping Forest|      584|             439|     10544|      4298|   town|
|     CM16| 51.7002| 0.118833| 546522|  202286|TL465022|Epping, Theydon Bois| Epping Forest|      954|             641|     22217|      9398|   city|
+---------+--------+---------+-------+--------+--------+--------------------+--------------+---------+----------------+----------+----------+-------+
only showing top 20 rows

In [220]:
df_200.coalesce(427).rdd.getNumPartitions()

200

In [221]:
df_200.coalesce(100).rdd.getNumPartitions()

100

In [ ]:
# if you do coalesce(1) only one worker will do the work.
# if you have "unexecuted" transformations repartition(1) is better

In [223]:
# "save" the dataframe in memory or disk to reusse it
df = df.cache()  # <== very important to "store" the result in a new variable