# DataFrames

In [1]:
# python imports are first in a file, after the shebang
# https://en.wikipedia.org/wiki/Shebang_(Unix)
import os
import pyspark

In [2]:
# lets start the spark session
# the entry point for an spark app is the SparkSession
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("FirstApp").getOrCreate()

In [3]:
spark

## READ
Let's dive deeper into the spark.read API

# open a new shell and run: 
    
aws s3 ls s3://das-2021

aws s3 ls s3://das-2021/data/ny-taxi/ --no-sign-request --recursive

copy the files locally

aws s3 cp s3://das-2021/data/ny-taxi/ ./ --no-sign-request --recursive

In [ ]:
help(spark.read)

In [ ]:
print(dir(spark.read))

In [ ]:
# lets check the wd
os.path.abspath(os.getcwd())

### CSV
aka delimited text files

In [4]:
help(spark.read.csv)

Help on method csv in module pyspark.sql.readwriter:

csv(path, schema=None, sep=None, encoding=None, quote=None, escape=None, comment=None, header=None, inferSchema=None, ignoreLeadingWhiteSpace=None, ignoreTrailingWhiteSpace=None, nullValue=None, nanValue=None, positiveInf=None, negativeInf=None, dateFormat=None, timestampFormat=None, maxColumns=None, maxCharsPerColumn=None, maxMalformedLogPerPartition=None, mode=None, columnNameOfCorruptRecord=None, multiLine=None, charToEscapeQuoteEscaping=None, samplingRatio=None, enforceSchema=None, emptyValue=None, locale=None, lineSep=None, pathGlobFilter=None, recursiveFileLookup=None) method of pyspark.sql.readwriter.DataFrameReader instance
    Loads a CSV file and returns the result as a  :class:`DataFrame`.

    This function will go through the input once to determine the input schema if
    ``inferSchema`` is enabled. To avoid going through the entire data once, disable
    ``inferSchema`` option or specify the schema explicitly using ``schema``.

    :param path: string, or list of strings, for input path(s),
                 or RDD of Strings storing CSV rows.
    :param schema: an optional :class:`pyspark.sql.types.StructType` for the input schema
                   or a DDL-formatted string (For example ``col0 INT, col1 DOUBLE``).
    :param sep: sets a separator (one or more characters) for each field and value. If None is
                set, it uses the default value, ``,``.
    :param encoding: decodes the CSV files by the given encoding type. If None is set,
                     it uses the default value, ``UTF-8``.
    :param quote: sets a single character used for escaping quoted values where the
                  separator can be part of the value. If None is set, it uses the default
                  value, ``"``. If you would like to turn off quotations, you need to set an
                  empty string.
    :param escape: sets a single character used for escaping quotes inside an already
                   quoted value. If None is set, it uses the default value, ``\``.
    :param comment: sets a single character used for skipping lines beginning with this
                    character. By default (None), it is disabled.
    :param header: uses the first line as names of columns. If None is set, it uses the
                   default value, ``false``.
    :param inferSchema: infers the input schema automatically from data. It requires one extra
                   pass over the data. If None is set, it uses the default value, ``false``.
    :param enforceSchema: If it is set to ``true``, the specified or inferred schema will be
                          forcibly applied to datasource files, and headers in CSV files will be
                          ignored. If the option is set to ``false``, the schema will be
                          validated against all headers in CSV files or the first header in RDD
                          if the ``header`` option is set to ``true``. Field names in the schema
                          and column names in CSV headers are checked by their positions
                          taking into account ``spark.sql.caseSensitive``. If None is set,
                          ``true`` is used by default. Though the default value is ``true``,
                          it is recommended to disable the ``enforceSchema`` option
                          to avoid incorrect results.
    :param ignoreLeadingWhiteSpace: A flag indicating whether or not leading whitespaces from
                                    values being read should be skipped. If None is set, it
                                    uses the default value, ``false``.
    :param ignoreTrailingWhiteSpace: A flag indicating whether or not trailing whitespaces from
                                     values being read should be skipped. If None is set, it
                                     uses the default value, ``false``.
    :param nullValue: sets the string representation of a null value. If None is set, it uses
                      the default value, empty string. Since 2.0.1, this ``nullValue`` param
                      applies to all supported types including the string type.
    :param nanValue: sets the string representation of a non-number value. If None is set, it
                     uses the default value, ``NaN``.
    :param positiveInf: sets the string representation of a positive infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param negativeInf: sets the string representation of a negative infinity value. If None
                        is set, it uses the default value, ``Inf``.
    :param dateFormat: sets the string that indicates a date format. Custom date formats
                       follow the formats at `datetime pattern`_.
                       This applies to date type. If None is set, it uses the
                       default value, ``yyyy-MM-dd``.
    :param timestampFormat: sets the string that indicates a timestamp format.
                            Custom date formats follow the formats at `datetime pattern`_.
                            This applies to timestamp type. If None is set, it uses the
                            default value, ``yyyy-MM-dd'T'HH:mm:ss[.SSS][XXX]``.
    :param maxColumns: defines a hard limit of how many columns a record can have. If None is
                       set, it uses the default value, ``20480``.
    :param maxCharsPerColumn: defines the maximum number of characters allowed for any given
                              value being read. If None is set, it uses the default value,
                              ``-1`` meaning unlimited length.
    :param maxMalformedLogPerPartition: this parameter is no longer used since Spark 2.2.0.
                                        If specified, it is ignored.
    :param mode: allows a mode for dealing with corrupt records during parsing. If None is
                 set, it uses the default value, ``PERMISSIVE``. Note that Spark tries to
                 parse only required columns in CSV under column pruning. Therefore, corrupt
                 records can be different based on required set of fields. This behavior can
                 be controlled by ``spark.sql.csv.parser.columnPruning.enabled``
                 (enabled by default).

            * ``PERMISSIVE``: when it meets a corrupted record, puts the malformed string \
              into a field configured by ``columnNameOfCorruptRecord``, and sets malformed \
              fields to ``null``. To keep corrupt records, an user can set a string type \
              field named ``columnNameOfCorruptRecord`` in an user-defined schema. If a \
              schema does not have the field, it drops corrupt records during parsing. \
              A record with less/more tokens than schema is not a corrupted record to CSV. \
              When it meets a record having fewer tokens than the length of the schema, \
              sets ``null`` to extra fields. When the record has more tokens than the \
              length of the schema, it drops extra tokens.
            * ``DROPMALFORMED``: ignores the whole corrupted records.
            * ``FAILFAST``: throws an exception when it meets corrupted records.

    :param columnNameOfCorruptRecord: allows renaming the new field having malformed string
                                      created by ``PERMISSIVE`` mode. This overrides
                                      ``spark.sql.columnNameOfCorruptRecord``. If None is set,
                                      it uses the value specified in
                                      ``spark.sql.columnNameOfCorruptRecord``.
    :param multiLine: parse records, which may span multiple lines. If None is
                      set, it uses the default value, ``false``.
    :param charToEscapeQuoteEscaping: sets a single character used for escaping the escape for
                                      the quote character. If None is set, the default value is
                                      escape character when escape and quote characters are
                                      different, ``\0`` otherwise.
    :param samplingRatio: defines fraction of rows used for schema inferring.
                          If None is set, it uses the default value, ``1.0``.
    :param emptyValue: sets the string representation of an empty value. If None is set, it uses
                       the default value, empty string.
    :param locale: sets a locale as language tag in IETF BCP 47 format. If None is set,
                   it uses the default value, ``en-US``. For instance, ``locale`` is used while
                   parsing dates and timestamps.
    :param lineSep: defines the line separator that should be used for parsing. If None is
                    set, it covers all ``\\r``, ``\\r\\n`` and ``\\n``.
                    Maximum length is 1 character.
    :param pathGlobFilter: an optional glob pattern to only include files with paths matching
                           the pattern. The syntax follows `org.apache.hadoop.fs.GlobFilter`.
                           It does not change the behavior of `partition discovery`_.
    :param recursiveFileLookup: recursively scan a directory for files. Using this option
                                disables `partition discovery`_.

    >>> df = spark.read.csv('python/test_support/sql/ages.csv')
    >>> df.dtypes
    [('_c0', 'string'), ('_c1', 'string')]
    >>> rdd = sc.textFile('python/test_support/sql/ages.csv')
    >>> df2 = spark.read.csv(rdd)
    >>> df2.dtypes
    [('_c0', 'string'), ('_c1', 'string')]

    .. versionadded:: 2.0

In [5]:
print(dir(spark.read.csv))

['__call__', '__class__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__func__', '__ge__', '__get__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__self__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__']

In [4]:
nasa_path = '../data/nasa_19950701.tsv'
df = spark.read.csv(nasa_path)

In [5]:
df.schema

StructType(List(StructField(_c0,StringType,true)))

In [6]:
df.head(20)

[Row(_c0='host\tlogname\ttime\tmethod\turl\tresponse\tbytes'),
 Row(_c0='199.72.81.55\t-\t804571201\tGET\t/history/apollo/\t200\t6245\t\t'),
 Row(_c0='unicomp6.unicomp.net\t-\t804571206\tGET\t/shuttle/countdown/\t200\t3985\t\t'),
 Row(_c0='199.120.110.21\t-\t804571209\tGET\t/shuttle/missions/sts-73/mission-sts-73.html\t200\t4085\t\t'),
 Row(_c0='burger.letters.com\t-\t804571211\tGET\t/shuttle/countdown/liftoff.html\t304\t0\t\t'),
 Row(_c0='199.120.110.21\t-\t804571211\tGET\t/shuttle/missions/sts-73/sts-73-patch-small.gif\t200\t4179\t\t'),
 Row(_c0='burger.letters.com\t-\t804571212\tGET\t/images/NASA-logosmall.gif\t304\t0\t\t'),
 Row(_c0='burger.letters.com\t-\t804571212\tGET\t/shuttle/countdown/video/livevideo.gif\t200\t0\t\t'),
 Row(_c0='205.212.115.106\t-\t804571212\tGET\t/shuttle/countdown/countdown.html\t200\t3985\t\t'),
 Row(_c0='d104.aa.net\t-\t804571213\tGET\t/shuttle/countdown/\t200\t3985\t\t'),
 Row(_c0='129.94.144.152\t-\t804571213\tGET\t/\t200\t7074\t\t'),
 Row(_c0='unicomp6.unicomp.net\t-\t804571214\tGET\t/shuttle/countdown/count.gif\t200\t40310\t\t'),
 Row(_c0='unicomp6.unicomp.net\t-\t804571214\tGET\t/images/NASA-logosmall.gif\t200\t786\t\t'),
 Row(_c0='unicomp6.unicomp.net\t-\t804571214\tGET\t/images/KSC-logosmall.gif\t200\t1204\t\t'),
 Row(_c0='d104.aa.net\t-\t804571215\tGET\t/shuttle/countdown/count.gif\t200\t40310\t\t'),
 Row(_c0='d104.aa.net\t-\t804571215\tGET\t/images/NASA-logosmall.gif\t200\t786\t\t'),
 Row(_c0='d104.aa.net\t-\t804571215\tGET\t/images/KSC-logosmall.gif\t200\t1204\t\t'),
 Row(_c0='129.94.144.152\t-\t804571217\tGET\t/images/ksclogo-medium.gif\t304\t0\t\t'),
 Row(_c0='199.120.110.21\t-\t804571217\tGET\t/images/launch-logo.gif\t200\t1713\t\t'),
 Row(_c0='ppptky391.asahi-net.or.jp\t-\t804571218\tGET\t/facts/about_ksc.html\t200\t3977\t\t')]

In [7]:
df = spark.read.csv(nasa_path, sep='\t', header=True, inferSchema=False)

In [8]:
df.head(20)

[Row(host='199.72.81.55', logname='-', time='804571201', method='GET', url='/history/apollo/', response='200', bytes='6245'),
 Row(host='unicomp6.unicomp.net', logname='-', time='804571206', method='GET', url='/shuttle/countdown/', response='200', bytes='3985'),
 Row(host='199.120.110.21', logname='-', time='804571209', method='GET', url='/shuttle/missions/sts-73/mission-sts-73.html', response='200', bytes='4085'),
 Row(host='burger.letters.com', logname='-', time='804571211', method='GET', url='/shuttle/countdown/liftoff.html', response='304', bytes='0'),
 Row(host='199.120.110.21', logname='-', time='804571211', method='GET', url='/shuttle/missions/sts-73/sts-73-patch-small.gif', response='200', bytes='4179'),
 Row(host='burger.letters.com', logname='-', time='804571212', method='GET', url='/images/NASA-logosmall.gif', response='304', bytes='0'),
 Row(host='burger.letters.com', logname='-', time='804571212', method='GET', url='/shuttle/countdown/video/livevideo.gif', response='200', bytes='0'),
 Row(host='205.212.115.106', logname='-', time='804571212', method='GET', url='/shuttle/countdown/countdown.html', response='200', bytes='3985'),
 Row(host='d104.aa.net', logname='-', time='804571213', method='GET', url='/shuttle/countdown/', response='200', bytes='3985'),
 Row(host='129.94.144.152', logname='-', time='804571213', method='GET', url='/', response='200', bytes='7074'),
 Row(host='unicomp6.unicomp.net', logname='-', time='804571214', method='GET', url='/shuttle/countdown/count.gif', response='200', bytes='40310'),
 Row(host='unicomp6.unicomp.net', logname='-', time='804571214', method='GET', url='/images/NASA-logosmall.gif', response='200', bytes='786'),
 Row(host='unicomp6.unicomp.net', logname='-', time='804571214', method='GET', url='/images/KSC-logosmall.gif', response='200', bytes='1204'),
 Row(host='d104.aa.net', logname='-', time='804571215', method='GET', url='/shuttle/countdown/count.gif', response='200', bytes='40310'),
 Row(host='d104.aa.net', logname='-', time='804571215', method='GET', url='/images/NASA-logosmall.gif', response='200', bytes='786'),
 Row(host='d104.aa.net', logname='-', time='804571215', method='GET', url='/images/KSC-logosmall.gif', response='200', bytes='1204'),
 Row(host='129.94.144.152', logname='-', time='804571217', method='GET', url='/images/ksclogo-medium.gif', response='304', bytes='0'),
 Row(host='199.120.110.21', logname='-', time='804571217', method='GET', url='/images/launch-logo.gif', response='200', bytes='1713'),
 Row(host='ppptky391.asahi-net.or.jp', logname='-', time='804571218', method='GET', url='/facts/about_ksc.html', response='200', bytes='3977'),
 Row(host='net-1-141.eden.com', logname='-', time='804571219', method='GET', url='/shuttle/missions/sts-71/images/KSC-95EC-0916.jpg', response='200', bytes='34029')]

In [9]:
df.schema

StructType(List(StructField(host,StringType,true),StructField(logname,StringType,true),StructField(time,StringType,true),StructField(method,StringType,true),StructField(url,StringType,true),StructField(response,StringType,true),StructField(bytes,StringType,true)))

In [10]:
df = spark.read.csv(nasa_path, sep='\t', header=True, inferSchema=True)

In [11]:
df.schema

StructType(List(StructField(host,StringType,true),StructField(logname,StringType,true),StructField(time,IntegerType,true),StructField(method,StringType,true),StructField(url,StringType,true),StructField(response,IntegerType,true),StructField(bytes,IntegerType,true)))

In [12]:
df.host

Column<b'host'>

In [13]:
# this is considered the safe way of referincing a column
df['host']

Column<b'host'>

In [14]:
df.select(df.host).take(5)

[Row(host='199.72.81.55'),
 Row(host='unicomp6.unicomp.net'),
 Row(host='199.120.110.21'),
 Row(host='burger.letters.com'),
 Row(host='199.120.110.21')]

In [15]:
df.select('host').take(5)

[Row(host='199.72.81.55'),
 Row(host='unicomp6.unicomp.net'),
 Row(host='199.120.110.21'),
 Row(host='burger.letters.com'),
 Row(host='199.120.110.21')]

In [16]:
df.show()

+--------------------+-------+---------+------+--------------------+--------+-----+
|                host|logname|     time|method|                 url|response|bytes|
+--------------------+-------+---------+------+--------------------+--------+-----+
|        199.72.81.55|      -|804571201|   GET|    /history/apollo/|     200| 6245|
|unicomp6.unicomp.net|      -|804571206|   GET| /shuttle/countdown/|     200| 3985|
|      199.120.110.21|      -|804571209|   GET|/shuttle/missions...|     200| 4085|
|  burger.letters.com|      -|804571211|   GET|/shuttle/countdow...|     304|    0|
|      199.120.110.21|      -|804571211|   GET|/shuttle/missions...|     200| 4179|
|  burger.letters.com|      -|804571212|   GET|/images/NASA-logo...|     304|    0|
|  burger.letters.com|      -|804571212|   GET|/shuttle/countdow...|     200|    0|
|     205.212.115.106|      -|804571212|   GET|/shuttle/countdow...|     200| 3985|
|         d104.aa.net|      -|804571213|   GET| /shuttle/countdown/|     200| 3985|
|      129.94.144.152|      -|804571213|   GET|                   /|     200| 7074|
|unicomp6.unicomp.net|      -|804571214|   GET|/shuttle/countdow...|     200|40310|
|unicomp6.unicomp.net|      -|804571214|   GET|/images/NASA-logo...|     200|  786|
|unicomp6.unicomp.net|      -|804571214|   GET|/images/KSC-logos...|     200| 1204|
|         d104.aa.net|      -|804571215|   GET|/shuttle/countdow...|     200|40310|
|         d104.aa.net|      -|804571215|   GET|/images/NASA-logo...|     200|  786|
|         d104.aa.net|      -|804571215|   GET|/images/KSC-logos...|     200| 1204|
|      129.94.144.152|      -|804571217|   GET|/images/ksclogo-m...|     304|    0|
|      199.120.110.21|      -|804571217|   GET|/images/launch-lo...|     200| 1713|
|ppptky391.asahi-n...|      -|804571218|   GET|/facts/about_ksc....|     200| 3977|
|  net-1-141.eden.com|      -|804571219|   GET|/shuttle/missions...|     200|34029|
+--------------------+-------+---------+------+--------------------+--------+-----+
only showing top 20 rows

In [17]:
df.show(50)

+--------------------+-------+---------+------+--------------------+--------+------+
|                host|logname|     time|method|                 url|response| bytes|
+--------------------+-------+---------+------+--------------------+--------+------+
|        199.72.81.55|      -|804571201|   GET|    /history/apollo/|     200|  6245|
|unicomp6.unicomp.net|      -|804571206|   GET| /shuttle/countdown/|     200|  3985|
|      199.120.110.21|      -|804571209|   GET|/shuttle/missions...|     200|  4085|
|  burger.letters.com|      -|804571211|   GET|/shuttle/countdow...|     304|     0|
|      199.120.110.21|      -|804571211|   GET|/shuttle/missions...|     200|  4179|
|  burger.letters.com|      -|804571212|   GET|/images/NASA-logo...|     304|     0|
|  burger.letters.com|      -|804571212|   GET|/shuttle/countdow...|     200|     0|
|     205.212.115.106|      -|804571212|   GET|/shuttle/countdow...|     200|  3985|
|         d104.aa.net|      -|804571213|   GET| /shuttle/countdown/|     200|  3985|
|      129.94.144.152|      -|804571213|   GET|                   /|     200|  7074|
|unicomp6.unicomp.net|      -|804571214|   GET|/shuttle/countdow...|     200| 40310|
|unicomp6.unicomp.net|      -|804571214|   GET|/images/NASA-logo...|     200|   786|
|unicomp6.unicomp.net|      -|804571214|   GET|/images/KSC-logos...|     200|  1204|
|         d104.aa.net|      -|804571215|   GET|/shuttle/countdow...|     200| 40310|
|         d104.aa.net|      -|804571215|   GET|/images/NASA-logo...|     200|   786|
|         d104.aa.net|      -|804571215|   GET|/images/KSC-logos...|     200|  1204|
|      129.94.144.152|      -|804571217|   GET|/images/ksclogo-m...|     304|     0|
|      199.120.110.21|      -|804571217|   GET|/images/launch-lo...|     200|  1713|
|ppptky391.asahi-n...|      -|804571218|   GET|/facts/about_ksc....|     200|  3977|
|  net-1-141.eden.com|      -|804571219|   GET|/shuttle/missions...|     200| 34029|
|ppptky391.asahi-n...|      -|804571219|   GET|/images/launchpal...|     200| 11473|
|      205.189.154.54|      -|804571224|   GET| /shuttle/countdown/|     200|  3985|
|waters-gw.starway...|      -|804571225|   GET|/shuttle/missions...|     200|  6723|
|ppp-mia-30.shadow...|      -|804571227|   GET|                   /|     200|  7074|
|      205.189.154.54|      -|804571229|   GET|/shuttle/countdow...|     200| 40310|
|  alyssa.prodigy.com|      -|804571233|   GET|/shuttle/missions...|     200| 12054|
|ppp-mia-30.shadow...|      -|804571235|   GET|/images/ksclogo-m...|     200|  5866|
|    dial22.lloyd.com|      -|804571237|   GET|/shuttle/missions...|     200| 61716|
|smyth-pc.moorecap...|      -|804571238|   GET|/history/apollo/a...|     200|101267|
|      205.189.154.54|      -|804571240|   GET|/images/NASA-logo...|     200|   786|
|ix-orl2-01.ix.net...|      -|804571241|   GET| /shuttle/countdown/|     200|  3985|
|ppp-mia-30.shadow...|      -|804571241|   GET|/images/NASA-logo...|     200|   786|
|ppp-mia-30.shadow...|      -|804571241|   GET|/images/MOSAIC-lo...|     200|   363|
|      205.189.154.54|      -|804571241|   GET|/images/KSC-logos...|     200|  1204|
|ppp-mia-30.shadow...|      -|804571241|   GET|/images/USA-logos...|     200|   234|
|ppp-mia-30.shadow...|      -|804571243|   GET|/images/WORLD-log...|     200|   669|
|ix-orl2-01.ix.net...|      -|804571244|   GET|/shuttle/countdow...|     200| 40310|
|gayle-gaston.tene...|      -|804571250|   GET|/shuttle/missions...|     200| 12040|
|piweba3y.prodigy.com|      -|804571254|   GET|/shuttle/missions...|     200| 12054|
|   scheyer.clark.net|      -|804571258|   GET|/shuttle/missions...|     200| 49152|
| ppp-nyc-3-1.ios.com|      -|804571259|   GET|/shuttle/missions...|     200| 77163|
|        199.72.81.55|      -|804571259|   GET|           /history/|     200|  1382|
|port26.annex2.nwl...|      -|804571262|   GET|/software/winvn/w...|     200|  9867|
|port26.annex2.nwl...|      -|804571264|   GET|/software/winvn/w...|     200| 25218|
|port26.annex2.nwl...|      -|804571264|   GET|/images/construct...|     200|  1414|
|port26.annex2.nwl...|      -|804571264|   GET|/software/winvn/b...|     200|  4441|
|dd14-012.compuser...|      -|804571265|   GET|/shuttle/technolo...|     200| 42732|
|      205.189.154.54|      -|804571266|   GET|/cgi-bin/imagemap...|     302|   110|
|      205.189.154.54|      -|804571268|   GET|/shuttle/missions...|     200|  7634|
|www-a1.proxy.aol.com|      -|804571269|   GET| /shuttle/countdown/|     200|  3985|
+--------------------+-------+---------+------+--------------------+--------+------+
only showing top 50 rows

In [18]:
df.drop('time').show()

+--------------------+-------+------+--------------------+--------+-----+
|                host|logname|method|                 url|response|bytes|
+--------------------+-------+------+--------------------+--------+-----+
|        199.72.81.55|      -|   GET|    /history/apollo/|     200| 6245|
|unicomp6.unicomp.net|      -|   GET| /shuttle/countdown/|     200| 3985|
|      199.120.110.21|      -|   GET|/shuttle/missions...|     200| 4085|
|  burger.letters.com|      -|   GET|/shuttle/countdow...|     304|    0|
|      199.120.110.21|      -|   GET|/shuttle/missions...|     200| 4179|
|  burger.letters.com|      -|   GET|/images/NASA-logo...|     304|    0|
|  burger.letters.com|      -|   GET|/shuttle/countdow...|     200|    0|
|     205.212.115.106|      -|   GET|/shuttle/countdow...|     200| 3985|
|         d104.aa.net|      -|   GET| /shuttle/countdown/|     200| 3985|
|      129.94.144.152|      -|   GET|                   /|     200| 7074|
|unicomp6.unicomp.net|      -|   GET|/shuttle/countdow...|     200|40310|
|unicomp6.unicomp.net|      -|   GET|/images/NASA-logo...|     200|  786|
|unicomp6.unicomp.net|      -|   GET|/images/KSC-logos...|     200| 1204|
|         d104.aa.net|      -|   GET|/shuttle/countdow...|     200|40310|
|         d104.aa.net|      -|   GET|/images/NASA-logo...|     200|  786|
|         d104.aa.net|      -|   GET|/images/KSC-logos...|     200| 1204|
|      129.94.144.152|      -|   GET|/images/ksclogo-m...|     304|    0|
|      199.120.110.21|      -|   GET|/images/launch-lo...|     200| 1713|
|ppptky391.asahi-n...|      -|   GET|/facts/about_ksc....|     200| 3977|
|  net-1-141.eden.com|      -|   GET|/shuttle/missions...|     200|34029|
+--------------------+-------+------+--------------------+--------+-----+
only showing top 20 rows

In [19]:
df.schema

StructType(List(StructField(host,StringType,true),StructField(logname,StringType,true),StructField(time,IntegerType,true),StructField(method,StringType,true),StructField(url,StringType,true),StructField(response,IntegerType,true),StructField(bytes,IntegerType,true)))

In [20]:
df2 = df.drop('time')
df2.schema

StructType(List(StructField(host,StringType,true),StructField(logname,StringType,true),StructField(method,StringType,true),StructField(url,StringType,true),StructField(response,IntegerType,true),StructField(bytes,IntegerType,true)))

In [21]:
type(df2.schema)

pyspark.sql.types.StructType

In [22]:
df.printSchema()

root
 |-- host: string (nullable = true)
 |-- logname: string (nullable = true)
 |-- time: integer (nullable = true)
 |-- method: string (nullable = true)
 |-- url: string (nullable = true)
 |-- response: integer (nullable = true)
 |-- bytes: integer (nullable = true)

In [23]:
print(dir(pyspark.sql.types))

['ArrayType', 'AtomicType', 'BinaryType', 'BooleanType', 'ByteType', 'CloudPickleSerializer', 'DataType', 'DataTypeSingleton', 'DateConverter', 'DateType', 'DatetimeConverter', 'DecimalType', 'DoubleType', 'FloatType', 'FractionalType', 'IntegerType', 'IntegralType', 'JavaClass', 'LongType', 'MapType', 'NullType', 'NumericType', 'Row', 'ShortType', 'SparkContext', 'StringType', 'StructField', 'StructType', 'TimestampType', 'UserDefinedType', '_FIXED_DECIMAL', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_acceptable_types', '_all_atomic_types', '_all_complex_types', '_array_signed_int_typecode_ctype_mappings', '_array_type_mappings', '_array_unsigned_int_typecode_ctype_mappings', '_atomic_types', '_create_converter', '_create_row', '_create_row_inbound_converter', '_has_nulltype', '_infer_schema', '_infer_type', '_int_size_to_type', '_make_type_verifier', '_merge_type', '_need_converter', '_parse_datatype_json_string', '_parse_datatype_json_value', '_parse_datatype_string', '_test', '_type_mappings', '_typecode', 'array', 'base64', 'basestring', 'calendar', 'ctypes', 'datetime', 'decimal', 'dt', 'json', 'long', 'os', 'platform', 're', 'register_input_converter', 'size', 'sys', 'time', 'unicode', 'warnings']

In [24]:
df.schema.fieldNames()

['host', 'logname', 'time', 'method', 'url', 'response', 'bytes']

In [25]:
df.schema.names

['host', 'logname', 'time', 'method', 'url', 'response', 'bytes']

In [28]:
print(type(df.schema.names), type(df.schema.fieldNames()))

<class 'list'> <class 'list'>

In [26]:
from pyspark.sql.types import StructType, StructField
from pyspark.sql.types import StringType, DateConverter, DateType, IntegerType

# alternatively, you can use
# from pyspark.sql.types import *

In [27]:
our_schema = StructType([
    # StructField("column_name", columnType(), Nullable),
    StructField("Host", StringType(), False),
    StructField("Logname", StringType(), True),
    StructField("Time", IntegerType(), False),
    StructField("Method", StringType(), True),
    StructField("URL", StringType(), True),
    StructField("Response", StringType(), True),
    # StructField("Bytes", StringType(), True),
])

In [28]:
df.schema == our_schema

False

In [29]:
df = spark.read.csv(nasa_path, sep='\t', header=True, schema=our_schema)

In [30]:
df.printSchema()

root
 |-- Host: string (nullable = true)
 |-- Logname: string (nullable = true)
 |-- Time: integer (nullable = true)
 |-- Method: string (nullable = true)
 |-- URL: string (nullable = true)
 |-- Response: string (nullable = true)

In [31]:
df.head(5)

[Row(Host='199.72.81.55', Logname='-', Time=804571201, Method='GET', URL='/history/apollo/', Response='200'),
 Row(Host='unicomp6.unicomp.net', Logname='-', Time=804571206, Method='GET', URL='/shuttle/countdown/', Response='200'),
 Row(Host='199.120.110.21', Logname='-', Time=804571209, Method='GET', URL='/shuttle/missions/sts-73/mission-sts-73.html', Response='200'),
 Row(Host='burger.letters.com', Logname='-', Time=804571211, Method='GET', URL='/shuttle/countdown/liftoff.html', Response='304'),
 Row(Host='199.120.110.21', Logname='-', Time=804571211, Method='GET', URL='/shuttle/missions/sts-73/sts-73-patch-small.gif', Response='200')]

In [32]:
our_schema_with_extra_column = StructType([
    # StructField("column_name", columnType(), Nullable),
    StructField("Host", StringType(), False),
    StructField("Logname", StringType(), True),
    StructField("Time", IntegerType(), False),
    StructField("Method", StringType(), True),
    StructField("URL", StringType(), True),
    StructField("Response", StringType(), True),
    StructField("Bytes", StringType(), True),
    StructField("Missing", StringType(), True),
])

In [33]:
df = spark.read.csv(nasa_path, sep='\t', header=True, schema=our_schema_with_extra_column)

In [34]:
df.printSchema()

root
 |-- Host: string (nullable = true)
 |-- Logname: string (nullable = true)
 |-- Time: integer (nullable = true)
 |-- Method: string (nullable = true)
 |-- URL: string (nullable = true)
 |-- Response: string (nullable = true)
 |-- Bytes: string (nullable = true)
 |-- Missing: string (nullable = true)

In [35]:
df.show()

+--------------------+-------+---------+------+--------------------+--------+-----+-------+
|                Host|Logname|     Time|Method|                 URL|Response|Bytes|Missing|
+--------------------+-------+---------+------+--------------------+--------+-----+-------+
|        199.72.81.55|      -|804571201|   GET|    /history/apollo/|     200| 6245|   null|
|unicomp6.unicomp.net|      -|804571206|   GET| /shuttle/countdown/|     200| 3985|   null|
|      199.120.110.21|      -|804571209|   GET|/shuttle/missions...|     200| 4085|   null|
|  burger.letters.com|      -|804571211|   GET|/shuttle/countdow...|     304|    0|   null|
|      199.120.110.21|      -|804571211|   GET|/shuttle/missions...|     200| 4179|   null|
|  burger.letters.com|      -|804571212|   GET|/images/NASA-logo...|     304|    0|   null|
|  burger.letters.com|      -|804571212|   GET|/shuttle/countdow...|     200|    0|   null|
|     205.212.115.106|      -|804571212|   GET|/shuttle/countdow...|     200| 3985|   null|
|         d104.aa.net|      -|804571213|   GET| /shuttle/countdown/|     200| 3985|   null|
|      129.94.144.152|      -|804571213|   GET|                   /|     200| 7074|   null|
|unicomp6.unicomp.net|      -|804571214|   GET|/shuttle/countdow...|     200|40310|   null|
|unicomp6.unicomp.net|      -|804571214|   GET|/images/NASA-logo...|     200|  786|   null|
|unicomp6.unicomp.net|      -|804571214|   GET|/images/KSC-logos...|     200| 1204|   null|
|         d104.aa.net|      -|804571215|   GET|/shuttle/countdow...|     200|40310|   null|
|         d104.aa.net|      -|804571215|   GET|/images/NASA-logo...|     200|  786|   null|
|         d104.aa.net|      -|804571215|   GET|/images/KSC-logos...|     200| 1204|   null|
|      129.94.144.152|      -|804571217|   GET|/images/ksclogo-m...|     304|    0|   null|
|      199.120.110.21|      -|804571217|   GET|/images/launch-lo...|     200| 1713|   null|
|ppptky391.asahi-n...|      -|804571218|   GET|/facts/about_ksc....|     200| 3977|   null|
|  net-1-141.eden.com|      -|804571219|   GET|/shuttle/missions...|     200|34029|   null|
+--------------------+-------+---------+------+--------------------+--------+-----+-------+
only showing top 20 rows

In [36]:
df.describe().show()

+-------+--------------------+-------+-------------------+------+---------------+------------------+------------------+-------+
|summary|                Host|Logname|               Time|Method|            URL|          Response|             Bytes|Missing|
+-------+--------------------+-------+-------------------+------+---------------+------------------+------------------+-------+
|  count|                9999|   9999|               9999|  9999|           9999|              9999|              9999|      0|
|   mean|                null|   null|8.045768773637364E8|  null|           null|210.66426642664266|24649.759175917592|   null|
| stddev|                null|   null|  3636.201300821906|  null|           null|  32.9404221059951| 83860.87366060312|   null|
|    min|     128.187.140.171|      -|          804571201|   GET|              /|               200|                 0|   null|
|    max|zzsbtafe.slip.cc....|      -|          804584384|  POST|/whats-new.html|               404|             99942|   null|
+-------+--------------------+-------+-------------------+------+---------------+------------------+------------------+-------+

In [37]:
df.describe('host').show()

+-------+--------------------+
|summary|                host|
+-------+--------------------+
|  count|                9999|
|   mean|                null|
| stddev|                null|
|    min|     128.187.140.171|
|    max|zzsbtafe.slip.cc....|
+-------+--------------------+

lets read another file

In [38]:
nasa_path = '../data/prime_nums.text'
df = spark.read.csv(nasa_path) # , sep='\t', header=True, inferSchema=True)

In [39]:
df.show(20)

+--------------------+
|                 _c0|
+--------------------+
|  2	  3	  5	  7	 ...|
| 31	 37	 41	 43	 ...|
| 73	 79	 83	 89	 ...|
|127	131	137	139	1...|
|179	181	191	193	1...|
|233	239	241	251	2...|
|283	293	307	311	3...|
|353	359	367	373	3...|
|419	421	431	433	4...|
|467	479	487	491	4...|
+--------------------+

## JSON

In [41]:
jp = '../data/resource_hvrh-b6nb.json'

In [42]:
df = spark.read.json(jp)

In [43]:
df.printSchema()

root
 |-- dropoff_latitude: string (nullable = true)
 |-- dropoff_longitude: string (nullable = true)
 |-- extra: string (nullable = true)
 |-- fare_amount: string (nullable = true)
 |-- improvement_surcharge: string (nullable = true)
 |-- lpep_dropoff_datetime: string (nullable = true)
 |-- lpep_pickup_datetime: string (nullable = true)
 |-- mta_tax: string (nullable = true)
 |-- passenger_count: string (nullable = true)
 |-- payment_type: string (nullable = true)
 |-- pickup_latitude: string (nullable = true)
 |-- pickup_longitude: string (nullable = true)
 |-- ratecodeid: string (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- tip_amount: string (nullable = true)
 |-- tolls_amount: string (nullable = true)
 |-- total_amount: string (nullable = true)
 |-- trip_distance: string (nullable = true)
 |-- trip_type: string (nullable = true)
 |-- vendorid: string (nullable = true)

In [44]:
df.count()

1000

In [45]:
df.dropDuplicates().count()

1000

In [46]:
df.select('tolls_amount').show(20)

+------------+
|tolls_amount|
+------------+
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
|           0|
+------------+
only showing top 20 rows

In [47]:
ag =df.groupby('vendorid','ratecodeid').agg({'fare_amount': 'sum'}).alias('fare_sum')

In [48]:
ag.show()

+--------+----------+----------------+
|vendorid|ratecodeid|sum(fare_amount)|
+--------+----------+----------------+
|       2|         2|            52.0|
|       2|         4|            16.0|
|       2|         1|         12123.5|
|       2|         5|           262.0|
+--------+----------+----------------+

In [49]:
ag.withColumnRenamed('sum(fare_amount)', 'fare_sum').printSchema()

root
 |-- vendorid: string (nullable = true)
 |-- ratecodeid: string (nullable = true)
 |-- fare_sum: double (nullable = true)

In [50]:
import pyspark.sql.functions as psql

In [51]:
print(dir(psql))

['Column', 'DataFrame', 'DataType', 'PandasUDFType', 'PythonEvalType', 'SparkContext', 'StringType', 'UserDefinedFunction', '__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', '_binary_mathfunctions', '_collect_list_doc', '_collect_set_doc', '_create_binary_mathfunction', '_create_column_from_literal', '_create_column_from_name', '_create_function', '_create_function_over_column', '_create_udf', '_create_window_function', '_functions', '_functions_1_4_over_column', '_functions_1_6_over_column', '_functions_2_1_over_column', '_functions_2_4', '_functions_deprecated', '_functions_over_column', '_lit_doc', '_message', '_options_to_str', '_string_functions', '_test', '_to_java_column', '_to_seq', '_window_functions', '_wrap_deprecated_function', 'abs', 'acos', 'add_months', 'approxCountDistinct', 'approx_count_distinct', 'array', 'array_contains', 'array_distinct', 'array_except', 'array_intersect', 'array_join', 'array_max', 'array_min', 'array_position', 'array_remove', 'array_repeat', 'array_sort', 'array_union', 'arrays_overlap', 'arrays_zip', 'asc', 'asc_nulls_first', 'asc_nulls_last', 'ascii', 'asin', 'atan', 'atan2', 'avg', 'base64', 'basestring', 'bin', 'bitwiseNOT', 'blacklist', 'broadcast', 'bround', 'cbrt', 'ceil', 'coalesce', 'col', 'collect_list', 'collect_set', 'column', 'concat', 'concat_ws', 'conv', 'corr', 'cos', 'cosh', 'count', 'countDistinct', 'covar_pop', 'covar_samp', 'crc32', 'create_map', 'cume_dist', 'current_date', 'current_timestamp', 'date_add', 'date_format', 'date_sub', 'date_trunc', 'datediff', 'dayofmonth', 'dayofweek', 'dayofyear', 'decode', 'degrees', 'dense_rank', 'desc', 'desc_nulls_first', 'desc_nulls_last', 'element_at', 'encode', 'exp', 'explode', 'explode_outer', 'expm1', 'expr', 'factorial', 'first', 'flatten', 'floor', 'format_number', 'format_string', 'from_csv', 'from_json', 'from_unixtime', 'from_utc_timestamp', 'functools', 'get_json_object', 'greatest', 'grouping', 'grouping_id', 'hash', 'hex', 'hour', 'hypot', 'ignore_unicode_prefix', 'initcap', 'input_file_name', 'instr', 'isnan', 'isnull', 'json_tuple', 'kurtosis', 'lag', 'last', 'last_day', 'lead', 'least', 'length', 'levenshtein', 'lit', 'locate', 'log', 'log10', 'log1p', 'log2', 'lower', 'lpad', 'ltrim', 'map_concat', 'map_entries', 'map_from_arrays', 'map_from_entries', 'map_keys', 'map_values', 'max', 'md5', 'mean', 'min', 'minute', 'monotonically_increasing_id', 'month', 'months_between', 'nanvl', 'next_day', 'ntile', 'overlay', 'pandas_udf', 'percent_rank', 'posexplode', 'posexplode_outer', 'pow', 'quarter', 'radians', 'rand', 'randn', 'rank', 'regexp_extract', 'regexp_replace', 'repeat', 'reverse', 'rint', 'round', 'row_number', 'rpad', 'rtrim', 'schema_of_csv', 'schema_of_json', 'second', 'sequence', 'sha1', 'sha2', 'shiftLeft', 'shiftRight', 'shiftRightUnsigned', 'shuffle', 'signum', 'sin', 'since', 'sinh', 'size', 'skewness', 'slice', 'sort_array', 'soundex', 'spark_partition_id', 'split', 'sqrt', 'stddev', 'stddev_pop', 'stddev_samp', 'struct', 'substring', 'substring_index', 'sum', 'sumDistinct', 'sys', 'tan', 'tanh', 'toDegrees', 'toRadians', 'to_csv', 'to_date', 'to_json', 'to_str', 'to_timestamp', 'to_utc_timestamp', 'translate', 'trim', 'trunc', 'udf', 'unbase64', 'unhex', 'unix_timestamp', 'upper', 'var_pop', 'var_samp', 'variance', 'warnings', 'weekofyear', 'when', 'window', 'xxhash64', 'year']

In [53]:
from pyspark.sql import Window
window = Window.orderBy("ratecodeid").partitionBy("vendorid")
ag.withColumn('rn', psql.row_number().over(window)).show()

+--------+----------+----------------+---+
|vendorid|ratecodeid|sum(fare_amount)| rn|
+--------+----------+----------------+---+
|       2|         1|         12123.5|  1|
|       2|         2|            52.0|  2|
|       2|         4|            16.0|  3|
|       2|         5|           262.0|  4|
+--------+----------+----------------+---+

In [54]:
df.registerTempTable('data')

In [55]:
spark.sql('select * from data').show()

+------------------+-------------------+-----+-----------+---------------------+---------------------+--------------------+-------+---------------+------------+------------------+-------------------+----------+------------------+----------+------------+------------+-------------+---------+--------+
|  dropoff_latitude|  dropoff_longitude|extra|fare_amount|improvement_surcharge|lpep_dropoff_datetime|lpep_pickup_datetime|mta_tax|passenger_count|payment_type|   pickup_latitude|   pickup_longitude|ratecodeid|store_and_fwd_flag|tip_amount|tolls_amount|total_amount|trip_distance|trip_type|vendorid|
+------------------+-------------------+-----+-----------+---------------------+---------------------+--------------------+-------+---------------+------------+------------------+-------------------+----------+------------------+----------+------------+------------+-------------+---------+--------+
|40.698043823242188|-73.924278259277344|  0.5|          8|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:29:...|    0.5|              1|           1|40.680610656738281|-73.928642272949219|         1|                 N|      1.86|           0|       11.16|         1.46|        1|       2|
|40.761379241943359|-73.923919677734375|  0.5|       15.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:19:...|    0.5|              1|           2|40.723175048828125|-73.952674865722656|         1|                 N|         0|           0|        16.8|         3.56|        1|       2|
|40.646072387695313|-74.013160705566406|  0.5|       16.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:19:...|    0.5|              1|           1|40.676105499267578|-73.971611022949219|         1|                 N|      4.45|           0|       22.25|         3.79|        1|       2|
|40.689033508300781|-74.000648498535156|  0.5|       13.5|                  0.3| 2016-01-01T00:38:...|2016-01-01T00:22:...|    0.5|              1|           2|40.669578552246094|   -73.989501953125|         1|                 N|         0|           0|        14.8|         3.01|        1|       2|
|40.663013458251953|-73.940719604492188|  0.5|         12|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:24:...|    0.5|              1|           2|40.682853698730469|-73.964729309082031|         1|                 N|         0|           0|        13.3|         2.55|        1|       2|
|40.742111206054688|-73.867744445800781|  0.5|          7|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:32:...|    0.5|              1|           2|40.746456146240234|-73.891143798828125|         1|                 N|         0|           0|         8.3|         1.37|        1|       2|
|40.745689392089844|-73.886192321777344|  0.5|          5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:34:...|    0.5|              1|           2|40.746196746826172|-73.896675109863281|         1|                 N|         0|           0|         6.3|         0.57|        1|       2|
|40.794120788574219|-73.949150085449219|  0.5|          7|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:31:...|    0.5|              1|           2|40.803558349609375|-73.953353881835937|         1|                 N|         0|           0|         8.3|         1.01|        1|       2|
|40.679725646972656|-73.971572875976562|  0.5|         12|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:24:...|    0.5|              1|           1|40.702816009521484|-73.994064331054688|         1|                 N|         2|           0|        15.3|         2.46|        1|       2|
|40.739658355712891|-73.917549133300781|  0.5|          9|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:28:...|    0.5|              1|           1|40.756641387939453|-73.914131164550781|         1|                 N|       1.6|           0|        11.9|         1.61|        1|       2|
|40.763126373291016|-73.921028137207031|  0.5|          6|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:32:...|    0.5|              1|           1|40.761829376220703|-73.911178588867188|         1|                 N|      1.82|           0|        9.12|         0.72|        1|       2|
|40.718177795410156|-73.962753295898438|  0.5|        3.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:37:...|    0.5|              1|           1|40.715328216552734|-73.958168029785156|         1|                 N|      0.96|           0|        5.76|         0.32|        1|       2|
|40.842765808105469|-73.924903869628906|  0.5|       14.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:21:...|    0.5|              1|           2|40.800785064697266|-73.946678161621094|         1|                 N|         0|           0|        15.8|         3.54|        1|       2|
|40.775833129882812| -73.90240478515625|  0.5|          6|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:34:...|    0.5|              1|           2|40.763439178466797|-73.914291381835938|         1|                 N|         0|           0|         7.3|         1.10|        1|       2|
|40.850196838378906|-73.932029724121094|  0.5|         11|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:26:...|    0.5|              1|           1|40.824314117431641|-73.943374633789063|         1|                 N|         2|           0|        14.3|         2.28|        1|       2|
|40.640159606933594|-73.966880798339844|  0.5|        4.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:35:...|    0.5|              1|           1|40.632152557373047| -73.96697998046875|         1|                 N|      1.16|           0|        6.96|         0.68|        1|       2|
|40.811866760253906|-73.951583862304688|  0.5|         10|                  0.3| 2016-01-01T00:38:...|2016-01-01T00:25:...|    0.5|              1|           2|40.814445495605469|-73.937843322753906|         1|                 N|         0|           0|        11.3|         1.36|        1|       2|
|40.693325042724609|-73.947746276855469|  0.5|       15.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:17:...|    0.5|              1|           1|40.690513610839844|-73.990364074707031|         1|                 N|         3|           0|        19.8|         3.07|        1|       2|
|40.751564025878906|-73.855522155761719|  0.5|        7.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:31:...|    0.5|              1|           2|    40.74755859375|-73.883827209472656|         1|                 N|         0|           0|         8.8|         1.52|        1|       2|
|40.659637451171875|-73.976943969726563|  0.5|       11.5|                  0.3| 2016-01-01T00:39:...|2016-01-01T00:25:...|    0.5|              1|           2|40.684413909912109|-73.980354309082031|         1|                 N|         0|           0|        12.8|         2.55|        1|       2|
+------------------+-------------------+-----+-----------+---------------------+---------------------+--------------------+-------+---------------+------------+------------------+-------------------+----------+------------------+----------+------------+------------+-------------+---------+--------+
only showing top 20 rows

In [56]:
spark.sql('select vendorid, sum(fare_amount) as fare_sum from data group by vendorid').show()

+--------+--------+
|vendorid|fare_sum|
+--------+--------+
|       2| 12453.5|
+--------+--------+

In [79]:
spark.sql('select vendorid, sum(fare_amount) as fare_sum, row_number() as rn from data group by vendorid').show()

Py4JJavaError: An error occurred while calling o240.showString.
: java.lang.UnsupportedOperationException: Cannot generate code for expression: row_number()
	at org.apache.spark.sql.catalyst.expressions.Unevaluable.doGenCode(Expression.scala:304)
	at org.apache.spark.sql.catalyst.expressions.Unevaluable.doGenCode$(Expression.scala:303)
	at org.apache.spark.sql.catalyst.expressions.aggregate.DeclarativeAggregate.doGenCode(interfaces.scala:369)
	at org.apache.spark.sql.catalyst.expressions.Expression.$anonfun$genCode$3(Expression.scala:146)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.catalyst.expressions.Expression.genCode(Expression.scala:141)
	at org.apache.spark.sql.catalyst.expressions.CastBase.doGenCode(Cast.scala:828)
	at org.apache.spark.sql.catalyst.expressions.Expression.$anonfun$genCode$3(Expression.scala:146)
	at scala.Option.getOrElse(Option.scala:189)
	at org.apache.spark.sql.catalyst.expressions.Expression.genCode(Expression.scala:141)
	at org.apache.spark.sql.catalyst.expressions.CastBase.genCode(Cast.scala:823)
	at org.apache.spark.sql.catalyst.expressions.Alias.genCode(namedExpressions.scala:159)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.$anonfun$generateResultFunction$5(HashAggregateExec.scala:575)
	at scala.collection.TraversableLike.$anonfun$map$1(TraversableLike.scala:238)
	at scala.collection.immutable.List.foreach(List.scala:392)
	at scala.collection.TraversableLike.map(TraversableLike.scala:238)
	at scala.collection.TraversableLike.map$(TraversableLike.scala:231)
	at scala.collection.immutable.List.map(List.scala:298)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.generateResultFunction(HashAggregateExec.scala:575)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.doProduceWithKeys(HashAggregateExec.scala:762)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.doProduce(HashAggregateExec.scala:169)
	at org.apache.spark.sql.execution.CodegenSupport.$anonfun$produce$1(WholeStageCodegenExec.scala:95)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:213)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:210)
	at org.apache.spark.sql.execution.CodegenSupport.produce(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.CodegenSupport.produce$(WholeStageCodegenExec.scala:90)
	at org.apache.spark.sql.execution.aggregate.HashAggregateExec.produce(HashAggregateExec.scala:48)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doCodeGen(WholeStageCodegenExec.scala:632)
	at org.apache.spark.sql.execution.WholeStageCodegenExec.doExecute(WholeStageCodegenExec.scala:692)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$execute$1(SparkPlan.scala:175)
	at org.apache.spark.sql.execution.SparkPlan.$anonfun$executeQuery$1(SparkPlan.scala:213)
	at org.apache.spark.rdd.RDDOperationScope$.withScope(RDDOperationScope.scala:151)
	at org.apache.spark.sql.execution.SparkPlan.executeQuery(SparkPlan.scala:210)
	at org.apache.spark.sql.execution.SparkPlan.execute(SparkPlan.scala:171)
	at org.apache.spark.sql.execution.SparkPlan.getByteArrayRdd(SparkPlan.scala:316)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:434)
	at org.apache.spark.sql.execution.SparkPlan.executeTake(SparkPlan.scala:420)
	at org.apache.spark.sql.execution.CollectLimitExec.executeCollect(limit.scala:47)
	at org.apache.spark.sql.Dataset.collectFromPlan(Dataset.scala:3627)
	at org.apache.spark.sql.Dataset.$anonfun$head$1(Dataset.scala:2697)
	at org.apache.spark.sql.Dataset.$anonfun$withAction$1(Dataset.scala:3618)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$5(SQLExecution.scala:100)
	at org.apache.spark.sql.execution.SQLExecution$.withSQLConfPropagated(SQLExecution.scala:160)
	at org.apache.spark.sql.execution.SQLExecution$.$anonfun$withNewExecutionId$1(SQLExecution.scala:87)
	at org.apache.spark.sql.SparkSession.withActive(SparkSession.scala:764)
	at org.apache.spark.sql.execution.SQLExecution$.withNewExecutionId(SQLExecution.scala:64)
	at org.apache.spark.sql.Dataset.withAction(Dataset.scala:3616)
	at org.apache.spark.sql.Dataset.head(Dataset.scala:2697)
	at org.apache.spark.sql.Dataset.take(Dataset.scala:2904)
	at org.apache.spark.sql.Dataset.getRows(Dataset.scala:300)
	at org.apache.spark.sql.Dataset.showString(Dataset.scala:337)
	at jdk.internal.reflect.GeneratedMethodAccessor70.invoke(Unknown Source)
	at java.base/jdk.internal.reflect.DelegatingMethodAccessorImpl.invoke(DelegatingMethodAccessorImpl.java:43)
	at java.base/java.lang.reflect.Method.invoke(Method.java:566)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:244)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:282)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:834)

In [57]:
df.write.parquet('out/df.parquet', mode='overwrite')

In [59]:
df.write.csv('out/df.csv', mode='overwrite')

In [61]:
df.explain()

== Physical Plan ==
FileScan json [dropoff_latitude#902,dropoff_longitude#903,extra#904,fare_amount#905,improvement_surcharge#906,lpep_dropoff_datetime#907,lpep_pickup_datetime#908,mta_tax#909,passenger_count#910,payment_type#911,pickup_latitude#912,pickup_longitude#913,ratecodeid#914,store_and_fwd_flag#915,tip_amount#916,tolls_amount#917,total_amount#918,trip_distance#919,trip_type#920,vendorid#921] Batched: false, DataFilters: [], Format: JSON, Location: InMemoryFileIndex[file:/D:/das_2021/data/resource_hvrh-b6nb.json], PartitionFilters: [], PushedFilters: [], ReadSchema: struct<dropoff_latitude:string,dropoff_longitude:string,extra:string,fare_amount:string,improveme...

In [62]:
df.rdd.getNumPartitions()

1

In [63]:
df = df.repartition(4)