In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.master("local[*]").appName("Exercises").getOrCreate()

In [ ]:
## Exercises

In [8]:
products_path = 'data_examples/products_parquet/'
sales_path = 'data_examples/sales_parquet/'
sellers_path = 'data_examples/sellers_parquet/'
paths = [products_path,sales_path,sellers_path]

In [ ]:
## read parquet files them individually or iterate over a list/array

In [22]:
dataframes = []
for p in paths:
  dataframes.append(spark.read.parquet(p))

In [ ]:
#Load products

In [48]:
products = dataframes[0]
products.show()
products.printSchema()

+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         0|   product_0|   22|
|         1|   product_1|   30|
|         2|   product_2|   91|
|         3|   product_3|   37|
|         4|   product_4|  145|
|         5|   product_5|  128|
|         6|   product_6|   66|
|         7|   product_7|  145|
|         8|   product_8|   51|
|         9|   product_9|   44|
|        10|  product_10|   53|
|        11|  product_11|   13|
|        12|  product_12|  104|
|        13|  product_13|  102|
|        14|  product_14|   24|
|        15|  product_15|   14|
|        16|  product_16|   38|
|        17|  product_17|   72|
|        18|  product_18|   16|
|        19|  product_19|   46|
+----------+------------+-----+
only showing top 20 rows

root
 |-- product_id: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- price: string (nullable = true)

In [51]:
#Convert data types
products = products.select(col('product_id').cast('int').alias('product_id'), \
                           col('product_name'), \
                           col('price').cast('double').alias('price'))

In [52]:
products.show()

+----------+------------+-----+
|product_id|product_name|price|
+----------+------------+-----+
|         0|   product_0| 22.0|
|         1|   product_1| 30.0|
|         2|   product_2| 91.0|
|         3|   product_3| 37.0|
|         4|   product_4|145.0|
|         5|   product_5|128.0|
|         6|   product_6| 66.0|
|         7|   product_7|145.0|
|         8|   product_8| 51.0|
|         9|   product_9| 44.0|
|        10|  product_10| 53.0|
|        11|  product_11| 13.0|
|        12|  product_12|104.0|
|        13|  product_13|102.0|
|        14|  product_14| 24.0|
|        15|  product_15| 14.0|
|        16|  product_16| 38.0|
|        17|  product_17| 72.0|
|        18|  product_18| 16.0|
|        19|  product_19| 46.0|
+----------+------------+-----+
only showing top 20 rows

In [55]:
sales = dataframes[1]
sales.show()
sales.printSchema()

+--------+----------+---------+----------+---------------+--------------------+
|order_id|product_id|seller_id|      date|num_pieces_sold|       bill_raw_text|
+--------+----------+---------+----------+---------------+--------------------+
|       1|         0|        0|2020-07-10|             62|esctmitgntlqljxnC...|
|       2|         0|        0|2020-07-07|             38|cufiduzyskiviokju...|
|       3|         0|        0|2020-07-05|             13|hscngebsortzolelf...|
|       4|         0|        0|2020-07-06|             94|jxhvzoobncxwzkpdl...|
|       5|         0|        0|2020-07-02|             41|nqazvvrqffccuwzpr...|
|       6|         0|        0|2020-07-07|             72|auesyqwlzglbecnmn...|
|       7|         0|        0|2020-07-04|             58|wymwvtmlsrirflpne...|
|       8|         0|        0|2020-07-08|             97|xzsadhvwyzhiboqIu...|
|       9|         0|        0|2020-07-08|             53|gvbzspbwezmfjwmuz...|
|      10|         0|        0|2020-07-09|             98|rxosjlrysukzmkvjv...|
|      11|         0|        0|2020-07-01|              1|cuvkjjcdhwaofsogj...|
|      12|         0|        0|2020-07-04|             14|wgvshpzutcqtzlbct...|
|      13|         0|        0|2020-07-09|             22|pvdahkwfuwtbakwuh...|
|      14|         0|        0|2020-07-08|             32|zayqtkhtjnhhvppyk...|
|      15|         0|        0|2020-07-04|              6|qziqvljlpkegnhrsm...|
|      16|         0|        0|2020-07-07|             79|caxetagbnacoovqoz...|
|      17|         0|        0|2020-07-10|             79|irhvnfobpftjxttxa...|
|      18|         0|        0|2020-07-01|             95|khyfqjhvdjbnwsylf...|
|      19|         0|        0|2020-07-04|             89|yotcaxeexheeoyfyl...|
|      20|         0|        0|2020-07-01|             86|rjpcdurxltgqjlbwz...|
+--------+----------+---------+----------+---------------+--------------------+
only showing top 20 rows

root
 |-- order_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- seller_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- num_pieces_sold: string (nullable = true)
 |-- bill_raw_text: string (nullable = true)

In [63]:
sales = sales.select(col('order_id').cast('int').alias('order_id'), \
                     col('product_id').cast('int').alias('product_id'), \
                     col('seller_id').cast('int').alias('seller_id'), \
                     col('date').cast('date').alias('date'), \
                     col('num_pieces_sold').cast('int').alias('num_pieces_sold'), \
                     col('bill_raw_text'))

In [64]:
sales.show()

+--------+----------+---------+----------+---------------+--------------------+
|order_id|product_id|seller_id|      date|num_pieces_sold|       bill_raw_text|
+--------+----------+---------+----------+---------------+--------------------+
|       1|         0|        0|2020-07-10|             62|esctmitgntlqljxnC...|
|       2|         0|        0|2020-07-07|             38|cufiduzyskiviokju...|
|       3|         0|        0|2020-07-05|             13|hscngebsortzolelf...|
|       4|         0|        0|2020-07-06|             94|jxhvzoobncxwzkpdl...|
|       5|         0|        0|2020-07-02|             41|nqazvvrqffccuwzpr...|
|       6|         0|        0|2020-07-07|             72|auesyqwlzglbecnmn...|
|       7|         0|        0|2020-07-04|             58|wymwvtmlsrirflpne...|
|       8|         0|        0|2020-07-08|             97|xzsadhvwyzhiboqIu...|
|       9|         0|        0|2020-07-08|             53|gvbzspbwezmfjwmuz...|
|      10|         0|        0|2020-07-09|             98|rxosjlrysukzmkvjv...|
|      11|         0|        0|2020-07-01|              1|cuvkjjcdhwaofsogj...|
|      12|         0|        0|2020-07-04|             14|wgvshpzutcqtzlbct...|
|      13|         0|        0|2020-07-09|             22|pvdahkwfuwtbakwuh...|
|      14|         0|        0|2020-07-08|             32|zayqtkhtjnhhvppyk...|
|      15|         0|        0|2020-07-04|              6|qziqvljlpkegnhrsm...|
|      16|         0|        0|2020-07-07|             79|caxetagbnacoovqoz...|
|      17|         0|        0|2020-07-10|             79|irhvnfobpftjxttxa...|
|      18|         0|        0|2020-07-01|             95|khyfqjhvdjbnwsylf...|
|      19|         0|        0|2020-07-04|             89|yotcaxeexheeoyfyl...|
|      20|         0|        0|2020-07-01|             86|rjpcdurxltgqjlbwz...|
+--------+----------+---------+----------+---------------+--------------------+
only showing top 20 rows

In [30]:
sellers = dataframes[2]
sellers.show()
sellers.printSchema()

+---------+-----------+------------+
|seller_id|seller_name|daily_target|
+---------+-----------+------------+
|        0|   seller_0|        2500|
|        1|   seller_1|      988094|
|        2|   seller_2|      117965|
|        3|   seller_3|     1157798|
|        4|   seller_4|     1999213|
|        5|   seller_5|     1793991|
|        6|   seller_6|      499726|
|        7|   seller_7|      888438|
|        8|   seller_8|     1528179|
|        9|   seller_9|      442654|
+---------+-----------+------------+

root
 |-- seller_id: string (nullable = true)
 |-- seller_name: string (nullable = true)
 |-- daily_target: string (nullable = true)

In [69]:
sellers =  sellers.select(col('seller_id').cast('int').alias('seller_id'), \
                          col('seller_name'), \
                          col('daily_target').cast('int').alias('daily_target'))

In [70]:
sellers.show()

+---------+-----------+------------+
|seller_id|seller_name|daily_target|
+---------+-----------+------------+
|        0|   seller_0|        2500|
|        1|   seller_1|      988094|
|        2|   seller_2|      117965|
|        3|   seller_3|     1157798|
|        4|   seller_4|     1999213|
|        5|   seller_5|     1793991|
|        6|   seller_6|      499726|
|        7|   seller_7|      888438|
|        8|   seller_8|     1528179|
|        9|   seller_9|      442654|
+---------+-----------+------------+

## Exercises

### 1.Find out how many orders, how many products and how many sellers are in the data.

In [76]:
total_products = products.count()
print(total_products)
total_sales =sales.count()
print(total_sales)
total_selers = sellers.count()
print(total_selers)

75000
200040
10

### 2.How many products have been sold at least once? Which is the product contained in more orders?

In [80]:
distinct_products_sold = sales.select('product_id').distinct().count()
print(distinct_products_sold)

9413

In [111]:
named_sales = sales.join(products,'product_id')
df =names_sales.groupBy('product_name').agg(count('product_id').alias('count')) 
sorted = df.sort(col("count").desc())
product = sorted.select('product_name').take(1)[0]
print(product.__getitem__("product_name"))

product_0

### 3.How many distinct products have been sold in each day?

In [114]:
distinct_products = named_sales.select('product_name','date').distinct().groupBy('date').agg(count('product_name').alias('count'))
distinct_products.show()

+----------+-----+
|      date|count|
+----------+-----+
|2020-07-05| 1002|
|2020-07-02|  996|
|2020-07-03| 1053|
|2020-07-07| 1014|
|2020-07-10| 1029|
|2020-07-08|  943|
|2020-07-01|  920|
|2020-07-04|  968|
|2020-07-09| 1064|
|2020-07-06|  993|
+----------+-----+

### 4.What is the average revenue of the orders?

In [115]:
named_sales.show()

+----------+--------+---------+----------+---------------+--------------------+------------+-----+
|product_id|order_id|seller_id|      date|num_pieces_sold|       bill_raw_text|product_name|price|
+----------+--------+---------+----------+---------------+--------------------+------------+-----+
|         0|       1|        0|2020-07-10|             62|esctmitgntlqljxnC...|   product_0| 22.0|
|         0|       2|        0|2020-07-07|             38|cufiduzyskiviokju...|   product_0| 22.0|
|         0|       3|        0|2020-07-05|             13|hscngebsortzolelf...|   product_0| 22.0|
|         0|       4|        0|2020-07-06|             94|jxhvzoobncxwzkpdl...|   product_0| 22.0|
|         0|       5|        0|2020-07-02|             41|nqazvvrqffccuwzpr...|   product_0| 22.0|
|         0|       6|        0|2020-07-07|             72|auesyqwlzglbecnmn...|   product_0| 22.0|
|         0|       7|        0|2020-07-04|             58|wymwvtmlsrirflpne...|   product_0| 22.0|
|         0|       8|        0|2020-07-08|             97|xzsadhvwyzhiboqIu...|   product_0| 22.0|
|         0|       9|        0|2020-07-08|             53|gvbzspbwezmfjwmuz...|   product_0| 22.0|
|         0|      10|        0|2020-07-09|             98|rxosjlrysukzmkvjv...|   product_0| 22.0|
|         0|      11|        0|2020-07-01|              1|cuvkjjcdhwaofsogj...|   product_0| 22.0|
|         0|      12|        0|2020-07-04|             14|wgvshpzutcqtzlbct...|   product_0| 22.0|
|         0|      13|        0|2020-07-09|             22|pvdahkwfuwtbakwuh...|   product_0| 22.0|
|         0|      14|        0|2020-07-08|             32|zayqtkhtjnhhvppyk...|   product_0| 22.0|
|         0|      15|        0|2020-07-04|              6|qziqvljlpkegnhrsm...|   product_0| 22.0|
|         0|      16|        0|2020-07-07|             79|caxetagbnacoovqoz...|   product_0| 22.0|
|         0|      17|        0|2020-07-10|             79|irhvnfobpftjxttxa...|   product_0| 22.0|
|         0|      18|        0|2020-07-01|             95|khyfqjhvdjbnwsylf...|   product_0| 22.0|
|         0|      19|        0|2020-07-04|             89|yotcaxeexheeoyfyl...|   product_0| 22.0|
|         0|      20|        0|2020-07-01|             86|rjpcdurxltgqjlbwz...|   product_0| 22.0|
+----------+--------+---------+----------+---------------+--------------------+------------+-----+
only showing top 20 rows

In [122]:
revenue = named_sales.withColumn('revenue',named_sales['price']* named_sales['num_pieces_sold']) 
avarage_revenue = revenue.select(avg('revenue').alias('avg_revenue')).take(1)[0]
print(avarage_revenue.__getitem__("avg_revenue"))

1249.0325584883024

### 5.For each seller, what is the average % contribution of an order to the seller's daily quota?

In [119]:
all_data = named_sales.join(sellers,'seller_id')
all_data.show()

+---------+----------+--------+----------+---------------+--------------------+------------+-----+-----------+------------+
|seller_id|product_id|order_id|      date|num_pieces_sold|       bill_raw_text|product_name|price|seller_name|daily_target|
+---------+----------+--------+----------+---------------+--------------------+------------+-----+-----------+------------+
|        0|         0|       1|2020-07-10|             62|esctmitgntlqljxnC...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       2|2020-07-07|             38|cufiduzyskiviokju...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       3|2020-07-05|             13|hscngebsortzolelf...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       4|2020-07-06|             94|jxhvzoobncxwzkpdl...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       5|2020-07-02|             41|nqazvvrqffccuwzpr...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       6|2020-07-07|             72|auesyqwlzglbecnmn...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       7|2020-07-04|             58|wymwvtmlsrirflpne...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       8|2020-07-08|             97|xzsadhvwyzhiboqIu...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|       9|2020-07-08|             53|gvbzspbwezmfjwmuz...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      10|2020-07-09|             98|rxosjlrysukzmkvjv...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      11|2020-07-01|              1|cuvkjjcdhwaofsogj...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      12|2020-07-04|             14|wgvshpzutcqtzlbct...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      13|2020-07-09|             22|pvdahkwfuwtbakwuh...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      14|2020-07-08|             32|zayqtkhtjnhhvppyk...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      15|2020-07-04|              6|qziqvljlpkegnhrsm...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      16|2020-07-07|             79|caxetagbnacoovqoz...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      17|2020-07-10|             79|irhvnfobpftjxttxa...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      18|2020-07-01|             95|khyfqjhvdjbnwsylf...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      19|2020-07-04|             89|yotcaxeexheeoyfyl...|   product_0| 22.0|   seller_0|        2500|
|        0|         0|      20|2020-07-01|             86|rjpcdurxltgqjlbwz...|   product_0| 22.0|   seller_0|        2500|
+---------+----------+--------+----------+---------------+--------------------+------------+-----+-----------+------------+
only showing top 20 rows

In [138]:
ratio = all_data.withColumn('ratio',all_data['num_pieces_sold']/all_data['daily_target'])\
.groupBy(all_data["seller_id"]).agg(avg("ratio").alias('ratio'))
ratio.show()

+---------+--------------------+
|seller_id|               ratio|
+---------+--------------------+
|        1|5.112717508215044E-5|
|        6|1.024300851750479...|
|        3|4.357331917692657E-5|
|        5|2.819330033595437...|
|        9|1.139425387663359...|
|        4|2.523358930648639E-5|
|        8|3.200356052376529E-5|
|        7|5.631310429583830...|
|        2|4.442207230828032E-4|
|        0|0.020228884210526026|
+---------+--------------------+

### 6.Who are the second most selling and the least selling persons (sellers) for each product? Who are those for product with product_id = 0

In [140]:
from pyspark.sql.functions import *
from pyspark.sql import Row, Window

window_desc = Window.partitionBy(col("product_id")).orderBy(col("num_pieces_sold").desc())
window_asc = Window.partitionBy(col("product_id")).orderBy(col("num_pieces_sold").asc())

In [148]:
# Calcuate the number of pieces sold by each seller for each product
sales_table = all_data.groupBy(col("product_id"), col("seller_id")). \
    agg(sum("num_pieces_sold").alias("num_pieces_sold"))
sales_table.show()

+----------+---------+---------------+
|product_id|seller_id|num_pieces_sold|
+----------+---------+---------------+
|     56527|        2|             53|
|     16214|        9|             29|
|     53165|        1|             45|
|     38340|        7|             70|
|     49880|        9|             58|
|     34979|        5|             58|
|     31942|        3|             83|
|     13045|        2|             60|
|     48426|        6|             48|
|      6224|        9|             77|
|     25848|        6|             47|
|     59402|        3|             16|
|     18711|        1|             75|
|      3252|        7|              5|
|     19212|        2|              8|
|     20289|        6|             89|
|     11073|        6|             18|
|      1687|        8|             61|
|     50110|        6|             85|
|     29717|        4|             78|
+----------+---------+---------------+
only showing top 20 rows

In [152]:
# Create a Dense Rank
sales_table = sales_table.withColumn("rank_asc", dense_rank().over(window_asc)) \
.withColumn("rank_desc", dense_rank().over(window_desc))
sales_table.show()

+----------+---------+---------------+--------+---------+
|product_id|seller_id|num_pieces_sold|rank_asc|rank_desc|
+----------+---------+---------------+--------+---------+
|       463|        1|             66|       1|        1|
|      2142|        8|             19|       1|        1|
|      2366|        8|             87|       1|        1|
|      2659|        9|             36|       1|        1|
|      2866|        7|             11|       1|        1|
|      5803|        7|            100|       1|        1|
|      7340|        3|             40|       2|        1|
|      7340|        5|             37|       1|        2|
|      7982|        6|             83|       1|        1|
|      9376|        7|             66|       1|        1|
|      9427|        9|             26|       1|        1|
|     11141|        2|             53|       1|        1|
|     15957|        8|             99|       1|        1|
|     17679|        9|             45|       1|        1|
|     20382|        3|             11|       1|        1|
|     20683|        6|             45|       1|        1|
|     23015|        7|              1|       1|        1|
|     23364|        7|             40|       1|        1|
|     27974|        7|             74|       1|        1|
|     30970|        7|             72|       1|        1|
+----------+---------+---------------+--------+---------+
only showing top 20 rows

In [150]:
# Get products that only have one row OR the products in which multiple sellers sold the same amount
# (i.e. all the employees that ever sold the product, sold the same exact amount)
single_seller = sales_table.where(col("rank_asc") == col("rank_desc")).select(
    col("product_id").alias("single_seller_product_id"), col("seller_id").alias("single_seller_seller_id"),
    lit("only_or_same_results").alias("type")
)
single_seller.show()

+------------------------+-----------------------+--------------------+
|single_seller_product_id|single_seller_seller_id|                type|
+------------------------+-----------------------+--------------------+
|                     463|                      1|only_or_same_results|
|                    2142|                      8|only_or_same_results|
|                    2366|                      8|only_or_same_results|
|                    2659|                      9|only_or_same_results|
|                    2866|                      7|only_or_same_results|
|                    5803|                      7|only_or_same_results|
|                    7982|                      6|only_or_same_results|
|                    9376|                      7|only_or_same_results|
|                    9427|                      9|only_or_same_results|
|                   11141|                      2|only_or_same_results|
|                   15957|                      8|only_or_same_results|
|                   17679|                      9|only_or_same_results|
|                   20382|                      3|only_or_same_results|
|                   20683|                      6|only_or_same_results|
|                   23015|                      7|only_or_same_results|
|                   23364|                      7|only_or_same_results|
|                   27974|                      7|only_or_same_results|
|                   30970|                      7|only_or_same_results|
|                   36525|                      4|only_or_same_results|
|                   37251|                      2|only_or_same_results|
+------------------------+-----------------------+--------------------+
only showing top 20 rows

In [151]:
# Get the second top sellers
second_seller = sales_table.where(col("rank_desc") == 2).select(
    col("product_id").alias("second_seller_product_id"), col("seller_id").alias("second_seller_seller_id"),
    lit("Second top seller").alias("type")
)
second_seller.show()

+------------------------+-----------------------+-----------------+
|second_seller_product_id|second_seller_seller_id|             type|
+------------------------+-----------------------+-----------------+
|                    7340|                      5|Second top seller|
|                   13910|                      4|Second top seller|
|                   20506|                      3|Second top seller|
|                   16565|                      8|Second top seller|
|                   53316|                      8|Second top seller|
|                   55198|                      5|Second top seller|
|                   71787|                      5|Second top seller|
|                   51979|                      9|Second top seller|
|                   65491|                      7|Second top seller|
|                   10013|                      8|Second top seller|
|                   60385|                      8|Second top seller|
|                    8231|                      5|Second top seller|
|                   37046|                      3|Second top seller|
|                   68792|                      1|Second top seller|
|                    4119|                      3|Second top seller|
|                   25434|                      7|Second top seller|
|                   25673|                      8|Second top seller|
|                   65333|                      6|Second top seller|
|                    1199|                      9|Second top seller|
|                   16813|                      7|Second top seller|
+------------------------+-----------------------+-----------------+
only showing top 20 rows

In [153]:
# Get the least sellers and exclude those rows that are already included in the first piece
# We also exclude the "second top sellers" that are also "least sellers"
least_seller = sales_table.where(col("rank_asc") == 1).select(
    col("product_id"), col("seller_id"),
    lit("Least Seller").alias("type")
).join(single_seller, (sales_table["seller_id"] == single_seller["single_seller_seller_id"]) & (
        sales_table["product_id"] == single_seller["single_seller_product_id"]), "left_anti"). \
    join(second_seller, (sales_table["seller_id"] == second_seller["second_seller_seller_id"]) & (
        sales_table["product_id"] == second_seller["second_seller_product_id"]), "left_anti")

In [154]:
# Union all the pieces
union_table = least_seller.select(
    col("product_id"),
    col("seller_id"),
    col("type")
).union(second_seller.select(
    col("second_seller_product_id").alias("product_id"),
    col("second_seller_seller_id").alias("seller_id"),
    col("type")
)).union(single_seller.select(
    col("single_seller_product_id").alias("product_id"),
    col("single_seller_seller_id").alias("seller_id"),
    col("type")
))
union_table.show()

+----------+---------+------------+
|product_id|seller_id|        type|
+----------+---------+------------+
|     17219|        3|Least Seller|
|     73771|        1|Least Seller|
|      4269|        5|Least Seller|
|     58454|        5|Least Seller|
|     45225|        2|Least Seller|
|      1969|        5|Least Seller|
|      4634|        2|Least Seller|
|     37684|        4|Least Seller|
|     24680|        5|Least Seller|
|     56437|        6|Least Seller|
|     58738|        1|Least Seller|
|     45988|        9|Least Seller|
|     26723|        9|Least Seller|
|     40185|        8|Least Seller|
|     14130|        2|Least Seller|
|     47712|        3|Least Seller|
|     48118|        2|Least Seller|
|     43024|        3|Least Seller|
|     33068|        7|Least Seller|
|     55230|        1|Least Seller|
+----------+---------+------------+
only showing top 20 rows

In [155]:
# Which are the second top seller and least seller of product 0?
union_table.where(col("product_id") == 0).show()

+----------+---------+--------------------+
|product_id|seller_id|                type|
+----------+---------+--------------------+
|         0|        0|only_or_same_results|
+----------+---------+--------------------+

### 7.Create a new column called "hashed_bill" defined as follows:

In [172]:
import hashlib
#   Define the UDF function
def algo(order_id, bill_text):
    #   If number is even
    ret = bill_text.encode("utf-8")
    if int(order_id) % 2 == 0:
        #   Count number of 'A'
        cnt_A = bill_text.count("A")
        for _c in range(0, cnt_A):
            ret = hashlib.md5(ret).hexdigest().encode("utf-8")
        ret = ret.decode('utf-8')
    else:
        ret = hashlib.sha256(ret).hexdigest()
    return ret

In [173]:
#   Register the UDF function.
hash_udf = spark.udf.register("custom_hash", algo)

In [175]:
#   Use the `hash_udf` to apply the algorithm and then check if there is any duplicate hash in the table
all_data.withColumn("hashed_bill", hash_udf(col("order_id"), col("bill_raw_text")))\
    .groupBy(col("hashed_bill")).agg(count("*").alias("cnt")).where(col("cnt")> 1).show()

+-----------+---+
|hashed_bill|cnt|
+-----------+---+
+-----------+---+